/* base css */
html {
	height: 100%;
}
body {
	min-height: 100%;
	position: relative;
	background: #fcfcfc;
	padding-bottom: 398px;
}
@media only screen and (min-width: 600px) {
	body {
		padding-bottom: 230px;
	}
}
@media only screen and (min-width: 991px) {
	body {
		padding-bottom: 140px;
	}
}



.container {
  width: 88%;
  max-width:initial;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #0c4091;
	-webkit-box-shadow: 0 1px 0 0 #0c4091;
	-moz-box-shadow: 0 1px 0 0 #0c4091;
	box-shadow: 0 1px 0 0 #0c4091;
}

textarea.materialize-textarea {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* borda bb */
#site-logo{
	border: 1px solid #fff;
}
#mobile-logo {
	border: 2px solid #fff;
}

nav .brand-logo img {
	height: 46px;
	margin-top: 7px;
}

nav ul li {
	border-right: 1px solid #11529d;
}

nav ul li:first-child {
	border-left: 1px solid #11529d;
}

nav ul li,
ul.side-nav li {
	position: relative;
}

nav ul li .notificacao,
ul.side-nav li .notificacao {
	display: block;
	position: absolute;
	background: #c00;
	color: #fff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	height: 20px;
	line-height: 14px;
	font-size: 12px;
	padding: 3px 7px;
	z-index: 10;
}

.button-collapse.notificacao {
	position: relative;
}
.button-collapse.notificacao::before {
	content: "";
	top: 15px;
	right: -5px;
	display: block;
	position: absolute;
	background: #c00;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	height: 12px;
	width: 12px;
	line-height: 0;
	z-index: 10;
}

nav ul li .notificacao {
	top: 7px;
	right: -10px;
}
ul.side-nav li .notificacao {
	top: 14px;
	right: 10px;
}

@media only screen and (max-width: 600px) {
	nav .brand-logo img {
		height: 40px;
		margin-top: 6px;
	}
}

nav .brand-logo {
	padding-top: 2px;
}

nav ul a,
nav .brand-logo {
	color: #444;
}
.side-nav li {
	line-height: normal;
}
.side-nav .userView {
	padding: 0;
}
.side-nav .userView a {
	padding: 7px 0;
	margin: 0 auto;
	display: block;
}
.side-nav .userView img {
	width: 200px;
}

p {
	line-height: 2rem;
}

.bi-icon {
	text-indent: -99999px;
	height: 1.5em;
	width: 1.5em;
	margin: 2px;
	display: inline-block;
	background-size: cover;
	vertical-align: middle;
}
.bi-icon.bath {
	background-image: url(../img/ico/bathroom.png);
}
.bi-icon.bed {
	background-image: url(../img/ico/bedroom.png);
}
.bi-icon.park {
	background-image: url(../img/ico/parking.png);
}
.bi-icon.room {
	background-image: url(../img/ico/room.png);
}
.bi-icon.ruler {
	background-image: url(../img/ico/ruler.png);
}
.bi-icon.small {
	height: 16px;
	width: 16px;
}
.bi-icon.large {
	height: 32px;
	width: 32px;
}

.button-collapse {
	color: #26a69a;
}
.input-field input[type="text"],
.input-field input[type="password"] {
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
}

.parallax-container {
	min-height: 350px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
}
.parallax-container .section {
	width: 100%;
}

.chip {
	font-weight: 300;
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.page-footer {
	margin: 0;
	padding-top: 0;
}
.footer-copyright .row {
	margin-bottom: 0;
}

.footer-copyright,
footer ul {
	margin: 0;
}

footer li {
	display: inline;
	padding: 0 7px;
	border-right: 1px solid #ccc;
	font-size: 11px;
}

footer li:last-child {
	border-right: 0 none;
}
footer {
	z-index: 5;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#index-banner .section {
	padding-bottom: 30px;
}

#index-banner .row {
	padding-bottom: 30px;
	padding-top: 30px;
}
#busque input {
	font-size: 1.5em;
	background: #fcfcfc;
	background-color: rgba(255, 255, 255, .8);
	font-weight: 300;
	text-indent: 10px;
}
#busque input::placeholder {
	color: #555;
	font-weight: 300;
}
#valores_simulacao {
	display: none;
	background: rgba(0, 0, 0, .5);
	padding: 0 10px;
}
#input_valor_imovel {
	font-size: 2em;
	padding: 4px 0;
	background: #fcfcfc;
	background-color: rgba(255, 255, 255, .8);
	font-weight: 300;
}
#input_valor_imovel::placeholder {
	color: #555;
	font-weight: 300;
}
#calculadora input {
	position: relative;
}
#nossas-linhas .card {
	min-height: 370px;
	background-color: rgba(0, 0, 0, .5);
}
#nossas-linhas .card a {
	color: #ddd;
}
#nossas-linhas .card-content {
	width: 100%;
}
#nossas-linhas .card-title {
	margin-bottom: 25px;
}


#detalhes .collapsible-header {
	background: #0d47a1;
	transition: background .2s linear;
}
#detalhes .collapsible-header:hover {
	background: #1976d2;
}
#detalhes .rslides_container {
	position: relative;
}
@media only screen and (min-width: 992px) {
	#detalhes .rslides_container {
	}
}
#detalhes .card {
	overflow: hidden;
}
#detalhes .collapsible {
	margin: 0;
	border: 0;
}
#detalhes .collapsible-body {
	padding: 2rem 0;
}
#detalhes .collapsible-title {
	position: relative;
}
#detalhes .titulo-metros {
	position: absolute;
	right: 0;
	top: 100%;
	margin-top: -50px;
	margin-right: 20px;
	height: 100%;
	font-size: .7em;
	line-height: 3em;
}
@media only screen and (max-width: 400px) {
	#detalhes .titulo-metros {
		position: inherit;
		display:block;
	}
}
#detalhes .rslides_container img {
	width: 100%;
	height: 33%;
	z-index: 1;
}
#detalhes .rslides_container .rslides_btns_nav {
	opacity: .4;
	transition: opacity 200ms linear;
}
#detalhes .rslides_container:hover .rslides_btns_nav {
	opacity: 1;
}
#detalhes .maps {
	height: 400px;
}
#detalhes .select-wrapper::placeholder,
#detalhes input::placeholder,
#detalhes textarea.materialize-textarea::placeholder {
	padding-right: 10px;
}
#detalhes input + label,
#detalhes textarea.materialize-textarea + label {
	text-indent: 15px;
}
#detalhes .input-field input[type="text"] {
	text-indent: 15px;
}
#detalhes textarea {
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
}
#detalhes .card {
	overflow: visible;
}
#detalhes .btn.flex-height {
	height: auto;
}
/* mensagens dos detalhes */
#detalhes .seller-contact-block {
	position: relative;
	overflow: hidden;
}
#detalhes .not-logged {
	position: absolute;
	top: 0;
	left: 0;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6fwYAAtMBznRijrsAAAAASUVORK5CYII=');
	width: 100%;
	height: 100%;
	z-index: 2;
}
#detalhes .old-requests p {
	line-height: 1.2em;
	padding: 0;
}
#detalhes textarea {
	margin-bottom: 0;
	min-height: 70px;
}
#detalhes .message-scroll {
	max-height: 200px;
	overflow: auto;
}
#detalhes .userball {
	background: #ccc;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin: 3px;
	text-align: center;
	line-height: 46px;
	width: 46px;
	height: 46px;
	float: left;
	position: relative;
}
#detalhes .message-date {
	right: 3px;
	top: 3px;
	line-height: 1em;
	position: absolute;
	font-size: 10px;
	color: #999;
}
#detalhes .message-line {
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f0f0f0;
	margin-bottom: 3px;
}
#detalhes .message {
	position: relative;
	padding: 3px 7px;
	min-height: 60px;
	border-top: 1px solid #ccc;
}
#detalhes .message.r {
	text-align: right;
}
#detalhes .message.r .message-date {
	right: auto;
	left: 3px;
}
#detalhes .message.l p {
	margin-left: 46px;
}
#detalhes .message.r p {
	margin-right: 45px;
}
#detalhes .message-title .message-date {
	color: #eee;
}
#detalhes .message.l p {
	margin-left: 46px;
}
#detalhes .message.r p {
	margin-right: 45px;
}
#detalhes .message.r .userball {
	float: right;
}


#listagem .card .card-content {
	min-height: 6.5em;
}

#home .card .card-content {
	min-height: 6.5em;
	clear: both;
}


.bg-map {
	background: url(../img/bkg/mapb.png);
	background-size: cover;
	background-blend-mode: lighten;
	background-color: #eee;
}
.bg-building {
	background: url(../img/bkg/parallax_building_windows.jpg);
	background-size: cover;
}
.row {
	margin-bottom: 0;
}
.spaced-row {
	margin-bottom: 20px;
}

/* helpers */
.fixed {
	position: fixed;
}
.hidden {
	display: none;
}
.relative {
	position: relative;
}
.dark-bg {
	background: rgba(0,0,0,.4);
}

.dark-bg .dark-bg {
	background: rgba(0,0,0,.2);
}
.col.full-col {
	padding: 0;
}
.hide-overflow {
	overflow: hidden;
}

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg p,
.dark-bg span {
	text-shadow: 0 0 20px #000, 0 0 10px #000;
}
.btn.blue,
.dark-bg .card p,
.dark-bg .card span {
	text-shadow: none;
}

.smallcaps {
	font-variant: small-caps;
}
.tiny-text  {
	font-size: 12px;
	line-height: 1.5rem !important;
}
.smaller-text {
	font-size: 14px !important;
}
.small-text {
	font-size: 16px !important;
}
.medium-text {
	font-size: 20px !important;
}
.big-text {
	font-size: 22px !important;
}
.bigger-text {
	font-size: 24px !important;
}
.huge-text {
	font-size: 30px !important;
}
.huger-text {
	font-size: 32px !important;
}
.material-icons.huger-text {
	font-size: 3em !important;
}
.margin-top-50 {
	margin-top: 50px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}
.padding-left-0 {
	padding-left: 0 !important;
}

.spaced-block {
	padding: 70px 0;
}

.vertical-align-icon {
	display: inline-flex;
	vertical-align: middle;
}

/* tabs */
.tabs,
.tabs .tab,
.tabs .tab a {
	height: 60px;
	line-height: 60px;
}
.tabs {
	margin-bottom: 20px;
}
.tabs .tab a {
	color: #999;
}
.tabs .tab a.active,
.tabs .tab a:hover {
	color: #0d47a1;
}
.tabs .indicator {
	background: #1565c0; /* darken-3*/
	height: 5px;
}
.tabs-swipe .row {
	overflow: hidden;
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* nav-aux */
.nav-aux {
	position: relative;
	height: 0;
	text-align: center;
}
.nav-aux .row {
	margin-top: 0;
	margin-bottom: 0;
}
.nav-aux .nav-aux-bg {
	position: absolute;
	background: transparent;
	top: -50px;
	width: 100%;
	height: 100px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
}
.nav-aux a {
	display: block;
	height: 100px;
}
.nav-aux li {
	transition: background-color .3s ease;
	border-right: 1px solid #11529d;
}
.nav-aux li:hover {
	background-color: #0c4091 !important;
}
.nav-aux .material-icons {
	display: block;
	margin-bottom: 4px;
}
.nav-aux-prev {
	padding-bottom: 50px;
}
.nav-aux-next {
	padding-top: 50px;
}
@media only screen and (max-width: 991px) {
	.nav-aux {
		text-align: left;
	}
	.nav-aux li {
		border-bottom: 1px solid #11529d;
		border-right: 0 none;
	}

	.nav-aux .material-icons {
		display: inline;
		vertical-align: middle;
		margin-right: 15px;
	}
	.nav-aux a {
		height: 60px;
		line-height: 60px;
		padding: 0 15px;
	}
	.nav-aux .nav-aux-bg {
		height: 360px;
	}
	.nav-aux-next {
		padding-top: 310px;
	}
}
@media only screen and (min-width: 992px) {
	.nav-aux .material-icons {
		height: 60px;
		line-height: 60px;
		padding-top: 10px;
	}
}

/* cards */
.card .card-icons {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}
.card .card-icons {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}
.card .card-content.small {
	padding: 7px 14px;
	font-size: .8em;
	line-height: 1.5em;
}
.card.hoverable a {
	color: #666;
}
.card .card-image .link-foto {
	background: #fafafa;
	display: block;
	width: 100%;
	padding-bottom: 50%;
	overflow: hidden;
	position: relative;
}
.card .card-image .link-foto img {
	position: absolute;
}



/* home */
.box-busca-home {
	padding-top: 30px;
}
.box-busca-home .col.btn {
	height: 45px;
}



/* slides */
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

.rslides_container {
	position: relative;
	width: 100%;
}

.rslides_btns_nav {
	z-index: 3;
	position: absolute;
	top: 50%;
	margin-top: -28px;
}

.rslides_btns_nav.next {
	right: 0;
}

.rslides_btns_nav.prev {
	left: 0;
}

@media only screen and (min-width: 601px) {
	.rslides_btns_nav.next {
		right: 28px;
	}

	.rslides_btns_nav.prev {
		left: 28px;
	}
}

.rslides_btns_nav:focus {
	outline: none;
}

.rslides_btns_tabs {
	position: absolute;
	bottom: 20px;
	z-index: 10;
	text-align: center;
	width: 100%;
}

.rslides_btns_tabs li {
	display: inline;
	float: none;
	_float: left;
	*float: left;
	margin-right: 5px;
}

.rslides_btns_tabs a {
	text-indent: -9999px;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #fff;
	opacity: .7;
	filter: opacity(.7);
	display: inline-block;
	_display: block;
	*display: block;
	-webkit-box-shadow: 0 0 -2px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 -2px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 0 -2px 0 rgba(0, 0, 0, .3);
	width: 15px;
	height: 15px;
}

.rslides_btns_here a {
	background: #0d47a1;
	opacity: .8;
	filter: opacity(.8);
}


.modal .rslides {
    padding: 0;
}
.modal .rslides img {
	display: block;
	height: auto;
	float: none;
	width: auto;
	max-height: 80vh;
	max-width: 100%;
	margin: 0 auto;
	border: 0;
}

.modal {
	background: none;
	max-height: 90%;
	width: 75%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
@media only screen and (max-width: 1200px) {
	.modal {
		width: 90%;
	}
}
@media only screen and (min-width: 1600px) {
	.modal {
		width: 60%;
	}
}
.modal .modal-content {
	padding: 0;
}
.modal-overlay {
	background-color: #fff;
}



/* form alter */
[type="checkbox"]:checked + label:before {
	border-right: 2px solid #1565c0;
	border-bottom: 2px solid #1565c0;
}
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
	border: 2px solid #1565c0;
}
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
	background-color: #1565c0;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
.dropdown-content li > a,
.dropdown-content li > span {
	color: #1565c0;
}
.input-field.col .dropdown-content [type="checkbox"] + label {
	top: -11px;
}
.input-field input[type="text"],
.input-field input[type="email"],
.input-field input[type="password"] {
	background: #f3f3f3;
	text-indent: 15px;
}
textarea.materialize-textarea {
	background: #f3f3f3;
}


/* form empreendimento */
.form-imovel .top-radio [type="radio"]:not(:checked) + label,
.form-imovel .top-radio [type="radio"]:checked + label {
	padding-left: 0;
	padding-top: 25px;
}
.form-imovel .collapsible-body {
	background: #fff;
}
.form-imovel .top-radio [type="radio"] + label:before,
.form-imovel .top-radio [type="radio"] + label:after {
	left: 50%;
	margin-left: -9px;
}
.form-imovel .tabela-semana {
	overflow-x: auto;
}
.form-imovel .tabela-semana [type="checkbox"] + label {
	padding-left: 35px;
}
.form-imovel .tabela-semana  [type="checkbox"] + label:before,
.form-imovel .tabela-semana  [type="checkbox"]:not(.filled-in) + label:after {
	left: 50%;
	margin-left: -9px;
}
.form-imovel .select-wrapper + label,
.form-imovel input:not([type]) + label,
.form-imovel input[type=text]:not(.browser-default) + label,
.form-imovel input[type=password]:not(.browser-default) + label,
.form-imovel input[type=email]:not(.browser-default) + label,
.form-imovel input[type=url]:not(.browser-default) + label,
.form-imovel input[type=time]:not(.browser-default) + label,
.form-imovel input[type=date]:not(.browser-default) + label,
.form-imovel input[type=datetime]:not(.browser-default) + label,
.form-imovel input[type=datetime-local]:not(.browser-default) + label,
.form-imovel input[type=tel]:not(.browser-default) + label,
.form-imovel input[type=number]:not(.browser-default) + label,
.form-imovel input[type=search]:not(.browser-default) + label,
.form-imovel textarea.materialize-textarea + label {
	text-indent: 15px;
}
.form-imovel .input-field input[type="text"],
.form-imovel .input-field input[type="password"] {
	background: #f3f3f3;
	text-indent: 15px;
}
.form-imovel textarea.materialize-textarea {
	background: #f3f3f3;
}
.form-imovel .select-wrapper + label,
.form-imovel input:not([type]) + label,
.form-imovel input[type=text]:not(.browser-default) + label,
.form-imovel input[type=password]:not(.browser-default) + label,
.form-imovel input[type=email]:not(.browser-default) + label,
.form-imovel input[type=url]:not(.browser-default) + label,
.form-imovel input[type=time]:not(.browser-default) + label,
.form-imovel input[type=date]:not(.browser-default) + label,
.form-imovel input[type=datetime]:not(.browser-default) + label,
.form-imovel input[type=datetime-local]:not(.browser-default) + label,
.form-imovel input[type=tel]:not(.browser-default) + label,
.form-imovel input[type=number]:not(.browser-default) + label,
.form-imovel input[type=search]:not(.browser-default) + label,
.form-imovel textarea.materialize-textarea + label {
	text-indent: 15px;
}
.form-imovel .input-field input[type="text"],
.form-imovel .input-field input[type="password"] {
	background: #f3f3f3;
	text-indent: 15px;
}
.form-imovel textarea.materialize-textarea {
	background: #f3f3f3;
}
.form-imovel .select-wrapper::placeholder,
.form-imovel input::placeholder,
.form-imovel textarea.materialize-textarea::placeholder {
	padding-right: 10px;
}


.form-imovel textarea {
	padding-left: 1%;
	padding-right: 1%;
	width: 98%;
}

.form-imovel input.right-align {
	padding-right: 3%;
	width: 97%;
}
.form-imovel .select-wrapper span.caret {
	z-index: 2;
	right: 10px;
}

.form-imovel .maps {
	background: #fafafa;
	height: 400px;
}

.form-imovel .gm-style-pbt {
	text-align: center;
}
.form-imovel .gm-style-pbc {
	background: rgba(255,255,255,0.45);
}

.pointer {
	cursor: pointer;
}
.card.foto-de-capa {
	-webkit-box-shadow: 0 0px 20px 5px rgba(13, 71, 161, .7);
	-moz-box-shadow: 0 0px 20px 5px rgba(13, 71, 161, .7);
	box-shadow: 0 0px 20px 5px rgba(13, 71, 161, .7);
}


.collapsible-header {
	position: relative;
}
.collapsible-header .btn {
	padding-left: 5px;
	position: absolute;
	right: 5px;
	top: 5px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
}



.loading {
	display: none;
	/* 80% white 1x1 pixel */
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6fwYAAtMBznRijrsAAAAASUVORK5CYII=');
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 100vh;
	z-index: 50;
}
.loading-center {
	display: block;
	margin: -45px auto 0 auto;
	padding-top: 0;
	top: 50%;
	position: relative;
}



.picker__date-display {
	background-color: #0c4091;
}
.picker__close,
.picker__today,
.picker__clear {
	color: #0c4091;
}
.picker__day.picker__day--today {
	color: #0c4091;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
	background: #0c4091;
	color: #fff;
}
.picker__nav--prev:hover::before {
	border-right-color: #fff !important;
}
.picker__nav--next:hover::before {
	border-left-color: #fff !important;
}

button.picker__today:focus,
button.picker__clear:focus,
button.picker__close:focus {
	background-color: #0c4091;
	color: #fff;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background-color: #0c4091;
}

.picker--opened .picker__holder {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1EFFFFFF,endColorstr=#1EFFFFFF)";
	zoom: 1;
	background: rgba(255,255,255,0.32);
}

/* 検索ページ */
#busca {
	position: relative;
}
#busca .search-filter-block {
	position: fixed;
	width: 100%;
	z-index: 10;
}
#busca .map-block {
	position: fixed;
	right: 0;
	background-color: #ccc;
	height: 70%;
	padding: 0;
}
#busca #maps {
	width: 100%;
	height: 100%;
}
#busca .search-filter-main .btn {
	line-height: 2.5rem;
    height: 2.5rem;
}
#busca .search-filter-main .col {
    margin-top: 10px;
}
#busca input {
    height: 2.5rem;
	margin-bottom: 14px;
}
#busca .search-filter-main label {
	line-height: 1;
}
#busca .search-filter-extra {
	display: none;
}
#busca .search-results {
	padding-top: 80px;
	padding-bottom: 21px;
	position: relative;
	z-index: 2;
}
#busca .top-radio .material-icons {
	display: block;
}
@media only screen and (max-width: 992px) {
	#busca .search-filter-block {
		position: relative;
	}
	#busca .search-results {
		padding-top: 21px;
	}
}
@media only screen and (max-height: 600px) {
	#busca .search-filter-block {
		position: relative;
	}
	#busca .search-results {
		padding-top: 21px;
	}
}


/* form busca */
.form-fix {
	line-height: 1;
}
.form-fix .top-radio [type="radio"]:not(:checked) + label,
.form-fix .top-radio [type="radio"]:checked + label {
	padding-left: 0;
	padding-top: 25px;
}
.form-fix .top-radio [type="radio"]:checked ~ * {
	color: #0c4091;
}
.form-fix .top-radio .material-icons {
transition: color .2s;
}
.form-fix .top-radio label::before,
.form-fix .top-radio label::after {
	visibility: hidden;
}
.form-fix .collapsible-body {
	background: #fff;
}
.form-fix .tabela-semana {
	overflow-x: auto;
}
.form-fix .tabela-semana [type="checkbox"] + label {
	padding-left: 35px;
}
.form-fix .tabela-semana  [type="checkbox"] + label:before,
.form-fix .tabela-semana  [type="checkbox"]:not(.filled-in) + label:after {
	left: 50%;
	margin-left: -9px;
}
.form-fix .select-wrapper + label,
.form-fix input:not([type]) + label,
.form-fix input[type=text]:not(.browser-default) + label,
.form-fix input[type=password]:not(.browser-default) + label,
.form-fix input[type=email]:not(.browser-default) + label,
.form-fix input[type=url]:not(.browser-default) + label,
.form-fix input[type=time]:not(.browser-default) + label,
.form-fix input[type=date]:not(.browser-default) + label,
.form-fix input[type=datetime]:not(.browser-default) + label,
.form-fix input[type=datetime-local]:not(.browser-default) + label,
.form-fix input[type=tel]:not(.browser-default) + label,
.form-fix input[type=number]:not(.browser-default) + label,
.form-fix input[type=search]:not(.browser-default) + label {
	text-indent: 15px;
}
.form-fix .input-field input[type="text"],
.form-fix .input-field input[type="password"] {
	background: #f3f3f3;
	text-indent: 15px;
}
.form-fix .select-wrapper + label,
.form-fix input:not([type]) + label,
.form-fix input[type=text]:not(.browser-default) + label,
.form-fix input[type=password]:not(.browser-default) + label,
.form-fix input[type=email]:not(.browser-default) + label,
.form-fix input[type=url]:not(.browser-default) + label,
.form-fix input[type=time]:not(.browser-default) + label,
.form-fix input[type=date]:not(.browser-default) + label,
.form-fix input[type=datetime]:not(.browser-default) + label,
.form-fix input[type=datetime-local]:not(.browser-default) + label,
.form-fix input[type=tel]:not(.browser-default) + label,
.form-fix input[type=number]:not(.browser-default) + label,
.form-fix input[type=search]:not(.browser-default) + label {
	text-indent: 15px;
}
.form-fix .input-field input[type="text"],
.form-fix .input-field input[type="password"] {
	background: #f3f3f3;
	text-indent: 15px;
}
.form-fix .select-wrapper::placeholder,
.form-fix input::placeholder,
.form-fix textarea.materialize-textarea::placeholder {
	padding-right: 10px;
}

.form-fix input.right-align {
	padding-right: 3%;
	width: 97%;
}
.form-fix .select-wrapper span.caret {
	z-index: 2;
	right: 10px;
}
 .search-filter-main input:not([type]):focus:not([readonly]) + label,
 .search-filter-main input[type=text]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main input[type=password]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main input[type=email]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main input[type=url]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main input[type=time]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main input[type=date]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main input[type=number]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main input[type=search]:not(.browser-default):focus:not([readonly]) + label,
 .search-filter-main textarea.materialize-textarea:focus:not([readonly]) + label,
 .search-filter-main .dropdown-content li > a,
 .search-filter-main .dropdown-content li > span {
    color: #fff;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
	background: none;
	width:auto;
}
.noUi-connect,
.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
	background: #0c4091;
}

.noUi-target.noUi-horizontal .noUi-tooltip span {
	background: #0c4091;
	padding: 5px 10px;
	width: auto;
	top: 0;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	z-index: 2;
	margin-left: -15px;
}

.noUi-target.noUi-horizontal .noUi-tooltip span::after {
	position: absolute;
	content: "";
	display: block;
	z-index: 1;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-top: 10px solid #0c4091;
}
.form-fix .noUi-box {
	padding-top: 20px;
}
.form-fix .noUi-label {
	line-height: 1.5em;
	line-height: 2.5em;
}
.form-fix .top-radio label {
	color: #777;
}

.prefix-icon {
	position: absolute;
	width: 3rem;
	font-size: 2rem;
	-webkit-transition: color .2s;
	transition: color .2s;
}
#btn-busca {
	margin-left: -.75rem;
	margin-right: .75rem;
}

.input-field .prefix-icon ~ input,
.input-field .prefix-icon ~ textarea,
.input-field .prefix-icon ~ label,
.input-field .prefix-icon ~ .select-wrapper {
	margin-left: 3rem;
	width: 92%;
	width: calc(100% - 3rem);
}

#login .input-field p {
	position: relative;
	top: -1.5em;
}

#login #loginPJ,
#login #loginPF {
	display: none;
}



/* slick custom */
#detalhes .slick-prev {
	left: -30px;
}
#detalhes .slick-next {
	right: -30px;
}
#detalhes .slick-prev,
#detalhes .slick-prev:focus,
#detalhes .slick-next,
#detalhes .slick-next:focus {
	transition: opacity .2s;
	height: 100%;
	background: black;
	opacity: .5;
	z-index: 1;
	width: 30px;
}
#detalhes .slick-prev:hover,
#detalhes .slick-next:hover {
	background: #263238;
	opacity: 1;
}
#detalhes .slick-prev:before,
#detalhes .slick-next:before {
}
#detalhes .slick-slider {
	margin-bottom: 45px;
}
#detalhes .slick-slide {
	text-align: center;
	background: #f7f7f7;
}
#detalhes .slick-slide button {
	padding: 10px 0;
	width: 100%;
	border: 0 none;
	background: #eee;
	font-weight: bold;
}
#detalhes .slick-slide button.turno-indisponivel {
	color: #999;
	text-decoration: line-through;
	font-weight: 300;
	cursor: default;
}
#detalhes .slick-slide.ativo {
	background: #0d47a1;
}
#detalhes .slick-slide.ativo span {
	color: #fff;
}
#detalhes .slick-slide.ativo button.ativo {
	color: #fff;
	background: #1565c0;
}
#detalhes .slick-slide .huger-text {
	display: block;
	line-height: 1.2em;
	font-weight: 300;
}



.notificacoes .title-for-small {
	display: none;
}
.notificacoes .data-image,
.notificacoes .anounc-image {
	width: 200px;
	float: left;
	overflow: hidden;
}
.notificacoes .data-image img,
.notificacoes .anounc-image img {
	width: 100%;
}
.notificacoes .anounc-messages-box {
	margin-left: 214px;
}
.notificacoes .userball {
	background: #ccc;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin: 3px;
	text-align: center;
	line-height: 46px;
	width: 46px;
	height: 46px;
	float: left;
	position: relative;
}
.notificacoes .message-date {
	right: 3px;
	top: 3px;
	line-height: 1em;
	position: absolute;
	font-size: 10px;
	color: #999;
}
.notificacoes .message-line {
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f0f0f0;
	margin-bottom: 3px;
}
.notificacoes .message-title {
	padding: 3px 7px;
	min-height: 60px;
	cursor: pointer;
	background: #036;
	color: #ddd;
}
.notificacoes .message-title .userball {
	background: #ddd;
	color: #036;
}
.notificacoes .message-title .message-date {
	color: #eee;
}
.notificacoes .message {
	position: relative;
	padding: 3px 7px;
	min-height: 60px;
	border-top: 1px solid #fff;
}
.notificacoes .message.r {
	text-align: right;
}
.notificacoes .message.r .message-date {
	right: auto;
	left: 3px;
}
.notificacoes .message.l p {
	margin-left: 46px;
}
.notificacoes .message.r p {
	margin-right: 45px;
}
.notificacoes .message.r .userball {
	float: right;
}
.notificacoes .message-text {
	margin-left: 45px;
}
.notificacoes .indicator {
	position: relative;
}
.notificacoes .indicator:before {
	content: "?";
	font-size: 10px;
	color: #fff;
	width: 14px;
	height: 14px;
	line-height: 14px;
	position: absolute;
	top: 0;
	right: 0;
	background: #036;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	border: 1px solid #ddd;
}
.notificacoes .indicator.success:before {
	content: "✓";
	background: #070;
}
.notificacoes .indicator.warn:before {
	content: "!";
	background: #e00;
}
.notificacoes .message-line p {
	line-height: 1.2em;
	padding: 14px;
}
.notificacoes .message-details {
	display: none;
}
.notificacoes .message-details p {
	padding: 7px 14px;
}
.notificacoes .message-details .userball {
	margin: 3px;
}
.notificacoes .input-field input {
	background: #fff;
	margin:1%;
	width: 98%;
}
.notificacoes .input-field label {
	margin: 0 2%;
	width: 96%;
}
.notificacoes .data-box .userball {
	float: none;
	margin: 14px auto;
}
.notificacoes .data-box {
	border-top: 1px solid #ccc;
	padding: 14px 0;
	position: relative;
}
.notificacoes .data-box .btn {
	margin: 14px 7px 0 7px;
}
.notificacoes .message-scroll {
	max-height: 350px;
	overflow: auto;
}
@media only screen and (max-width: 800px) {
	.notificacoes .title-for-small {
		display: block;
	}
	.notificacoes .data-image,
	.notificacoes .anounc-image {
		display: none;
	}
	.notificacoes .anounc-messages-box {
		margin-left: 0;
	}
}

.btn-floating.corner-fab {
	background: #0D47A1 !important;
	position: absolute;
	right: 10px;
	top: 10px;
}
