<div id="index-banner" class="parallax-container" data-ng-controller="ArtigoCtrl as ctrl">
<div class="parallax"><img src="{{ctrl.MEDIA_FOLDER}}img/fke/artigosdagambiarra/imgart4.jpg" alt="Unsplashed background img 1">
</div>
</div>
<div class="container">
<h4 class="header center blue-text text-darken-4">Por que investir em imóveis?</h4>
</div>
<div class="artigo">
<div class="container">
<div class="section">
<div class="row">
<div class="col s12 center">
<h5>Um imóvel é uma das opções de investimento mais populares e uma ótima maneira de construir um patrimônio sólido e seguro.</h5>
<br/>
<p class="left-align light">Um imóvel é uma das opções de investimento mais populares e uma ótima maneira de construir um patrimônio sólido e seguro. No entanto, é um compromisso de longo prazo que não é para qualquer um, é preciso considerar os benefícios e riscos para decidir se é a opção certa para você.</p>
<br/>
<h5 class="left-align">Benefícios de um investimento imobiliário</h5>
<ol class="left-align light">• Investimento razoavelmente seguro a longo prazo<br/>• Bem sólido e visível<br/>• Um imóvel para investimento pode gerar renda que cobre potencialmente os pagamentos de empréstimos e outras despesas<br/>• Você pode vendê-lo no futuro e obter de ganhos de capital<br/>• Expansão da carteira de investimento por meio de Home Equity (Empréstimo com garantia de imóvel)<br/>• Uma boa maneira de diversificar seu portfólio e reduzir os riscos se você tiver outros investimentos, como dinheiro, ações ou fundos gerenciados.</ol>
<br/>
<h5 class="left-align">Entenda os riscos</h5>
<p class="left-align light">Como em qualquer outra opção de investimento, existem riscos envolvidos. A renda do aluguel pode não atender às suas expectativas, ou o valor da propriedade pode diminuir. Você pode não ter liquidez, fato que pode atrasar o acesso ao seu dinheiro além da possibilidade de ganhar retornos mais altos em um outro tipo de investimento. Fale com um especialista em empréstimos para avaliar se comprar um imóvel para investir é a melhor opção para você.</p>
</div>
</div>
</div>
</div>
</div>
