<div id="index-banner" class="parallax-container" data-ng-controller="ArtigoCtrl as ctrl">
<div class="parallax"><img src="{{ctrl.MEDIA_FOLDER}}img/fke/artigosdagambiarra/imgart9.jpg" alt="Unsplashed background img 1">
</div>
</div>
<div class="container">
<h4 class="header center blue-text text-darken-4"><em>Checklist</em> para venda de imóvel</h4>
</div>
<div class="artigo">
<div class="container">
<div class="section">
<div class="row">
<div class="col s12 center">
<h5 class="left-align light tam">Vender a sua casa pode ser um processo complexo. Este checklist descreve as etapas envolvidas na venda de um imóvel, para você imprimir e marcar para garantir que você fique no caminho certo e evite algumas armadilhas, bem como a forma como nossos especialistas em empréstimos para casa pode guiá-lo através do processo.</h5>
<br/>
<br/>
<h5 class="left-align">Faça sua pesquisa</h5>
<ol class="left-align light">• Descubra a quantidade de imóveis a venda na região de seu interesse usando o Balcão de Imóveis;<br/>•  Consulte diversos anúncios similares;<br/>• Tenha uma ideia de custos (publicidade, agente, etc.);<br/>•  Você está planejando vender para comprar um outro? Em caso afirmativo, vale a pena falar com um especialista em financiamento imobiliário agora.</ol>
<br/>
<h5 class="left-align">Defina o preço de venda</h5>
<ol class="left-align light">•  Obtenha uma estimativa do valor da sua propriedade através das informações de sua própria pesquisa de mercado juntamente com a estimativa de um agente imobiliário para ajudar a determinar o preço;<br/>•  Se você está procurando comprar novamente, seu credor também pode ajudar a avaliar o quanto você pode pedir emprestado e fornecer uma pré-aprovação condicional.</ol>
<br/>
<h5 class="left-align">Prepare seu imóvel</h5>
<ol class="left-align light">•  Complete todas as manutenções e reparos pendentes;<br/>• Limpe e arrume sua propriedade por dentro e por fora para dar uma boa aparência;<br/>•  Considere executar alguns pequenos trabalhos de renovação, uma demão de tinta ou acessórios de banheiro ou cozinha novos.</ol>
<br/>
<h5 class="left-align">Encontre um bom agente imobiliário</h5>
<ol class="left-align light">•  Procure recomendações de familiares, amigos e/ou on-line;<br/>• Discuta suas necessidades com seu agente imobiliário - você poderia negociar ofertas particulares;<br/>•  Um advogado cuidará de toda a documentação, incluindo o contrato de venda.</ol>
<br/>
<h5 class="left-align">Disponibilize o imóvel para visitas</h5>
<ol class="left-align light">• Defina os horários nos quais seu imóvel estará aberto para visitas;<br/>• Potenciais compradores irão agendar suas vistas nos dias e horários definidos por você no Balcão de Imóveis, e poderão até fazer uma oferta de compra.</ol>
<br/>
</div>
</div>
</div>
</div>
</div>
