<div id="index-banner" class="parallax-container" data-ng-controller="ArtigoCtrl as ctrl">
<div class="parallax"><img src="{{ctrl.MEDIA_FOLDER}}img/fke/artigosdagambiarra/imgart3.jpg" alt="Unsplashed background img 1">
</div>
</div>
<div class="container">
<h4 class="header center blue-text text-darken-4">Como poupar os recursos para a entrada</h4>
</div>
<div class="artigo">
<div class="container">
<div class="section">
<div class="row">
<div class="col s12 center">
<h5>Confira cinco dicas para ajudar a transformar seu sonho em realidade.</h5>
<br/>
<p class="left-align light">Comprar a casa própria é um grande sonho do brasileiro, não importa a região. Com o BB Crédito Imobiliário a compra de um imóvel é um investimento possível. Aqui estão cinco dicas que vão ajudar a transformar seu sonho em realidade.</p>
<br/>
<h5 class="left-align">1. Analise seus gastos atuais</h5>
<p class="left-align light">Primeiro, você precisa fazer um levantamento da sua situação financeira atual e seus gastos habituais. Reúna toda a informação que você puder sobre o que você está gastando atualmente. O recurso Minhas Finanças pode agrupar seus gastos em diferentes categorias, tornando mais fácil ver onde seu dinheiro está indo.</p>
<br/>
<h5 class="left-align">2. Defina um orçamento</h5>
<p class="left-align light">Quase todos os bons planos de poupança começam com um orçamento sólido. Depois de saber o quanto você gasta, tente encontrar as áreas onde você pode reduzir suas despesas. Algumas mudanças nos hábitos de consumo podem fazer a diferença. Reduzir os custos cafezinho do dia a dia  pode ser um excelente começo. Poupar mais vai permitir que você mude para a casa nova mis rápido e pode significar uma grande economia.</p>
<p class="left-align light">Depois de saber o quanto você vai gastar mês a mês, decida quanto pode economizar. Você vai querer economizar o máximo possível, mas certifique-se de que seu orçamento realista – pode ser melhor poupar menos durante 12 meses do que muito em 12 semanas. Se você puder, economize um valor similar ao que seriam as prestações do seu financiamento imobiliário, isto pode ajudá-lo no orçamento a longo prazo.</p>
<br/>
<h5 class="left-align">3. Controle suas dívidas</h5>
<p class="left-align light">Pode ser difícil pensar em economia de longo prazo se você estiver com dificuldades para manter em dia as dívidas que você já possui. Consolidar suas dívidas pode ser uma maneira inteligente conseguir folego para poupar. Lembre-se, quanto menor o seu endividamento, maior a probabilidade de aprovação quando chegar a hora de solicitar o financiamento imobiliário.</p>
<br/>
<h5 class="left-align">4. Comece a poupar</h5>
<p class="left-align light">Você precisa economizar, para a entrada,  pelo menos 20% do valor do imóvel que lhe interessa. Se você não estivers satisfeito com o tempo que isso pode levar, considere a compra de um imóvel mais acessível ou tente poupar mais. Lembre-se que existem outros custos envolvidos na compra de imóvel, que vão além da entrada, e você precisa estar preparado.</p>
<p class="left-align light">Mantenha suas economias separadas do seu orçamento mensal numa <a href="http://www.bb.com.br/pbb/pagina-inicial/voce/produtos-e-servicos/investimentos/poupanca-dos-sonhos#/"> <strong>Poupança dos Sonhos Banco do Brasil</strong></a>, assim, você maximiza sua receita e reduz sua tentação de gastar.</p>
<br/>
<h5 class="left-align">5. Composição de renda</h5>
<p class="left-align light">Dependendo das circunstâncias, unir forças é a melhor forma de alcançar nossos objetivos. Considere a possibilidade de compor renda com outras pessoas que podem te ajudar. No Banco do Brasil você compor renda com até mais duas pessoas com vínculo de parentesco, consanguíneo ou por afinidade no momento de solicitar o crédito.</p>
</div>
</div>
</div>
</div>
</div>
