<div id="index-banner" class="parallax-container" data-ng-controller="ArtigoCtrl as ctrl">
<div class="parallax"><img src="{{ctrl.MEDIA_FOLDER}}img/fke/artigosdagambiarra/imgart6.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
<h4 class="header center blue-text text-darken-4">Como montar um portfólio de investimento em imóveis</h4>
</div>
<div class="artigo">
<div class="container">
<div class="section">
<div class="row">
<div class="col s12 center">
<h5>Montar um portfólio com dois ou mais imóveis pode ser mais fácil do que você pensa. Veja algumas dicas para ajudá-lo a começar.</h5>
<br/>
<p class="left-align light">Se você possui uma casa e está pensando em diversificar seus investimentos montando um portfolio de imóveis, pode não ser tão difícil como você imagina. Para alguns proprietários de casas, parte do valor da sua propriedade atual pode ser suficiente para investir em uma segunda propriedade.</p>
<p class="left-align light">Se você já está nesta posição ou está trabalhando para isso, aqui estão algumas etapas para ajudá-lo a começar a criar seu portfólio.</p>
<br/>
<h5 class="left-align">Fale com seu banco</h5>
<p class="left-align light">Seu banco pode ajudá-lo a descobrir o valor da sua propriedade e a quantidade de patrimônio nela contida. Se você adquiriu recentemente sua propriedade, talvez seja necessário dar ao seu patrimônio algum tempo para crescer.</p>
<p class="left-align light">Uma vez que você tenha equidade suficiente em sua propriedade, você pode usar isso como um depósito para sua próxima propriedade. Seja antecipado com seu credor ou banco sobre seus planos para que eles possam ajudá-lo a estruturar seu empréstimo para casa para manter "reciclar" esse patrimônio para comprar mais propriedades. Isto é particularmente importante se você ainda não comprar sua primeira propriedade - se você tem uma segunda propriedade em mente desde o início, isso simplificará as coisas.</p>
<br/>
<h5 class="left-align">Defina sua estratégia de investimento</h5>
<p class="left-align light">Quando se trata de investimento em imóveis, você está procurando o rendimento do aluguel ou o crescimento do capital? O ideal é que você tenha uma estratégia que ofereça os dois, mas isso nem sempre é possível. Se a sua renda é um pouco apertada ou seu trabalho não é tão seguro, você pode querer priorizar o rendimento de aluguel, pois isso pode lhe proporcionar alguma segurança se algo acontecer com sua renda. Já se você possui uma renda mais alta, você pode preferir priorizar a valorização do patrimônio.</p>
<br/>
<h5 class="left-align">Escolha sua propriedade</h5>
<p class="left-align light">Uma vez que você decidiu sua estratégia de investimento, você pode começar a olhar para as propriedades que estão disponíveis no mercado onde deseja comprar. Você pode começar procurando por propriedades através do Balcão de Imóveis Banco do Brasil. E as nossas calculadoras de empréstimo imobiliário podem te ajudar a descobrir o quanto você pode pedir emprestado e quais serão as prestações.</p>
<p class="left-align light">Certifique-se de que você possui recursos para todas as despesas que derivam da posse de uma propriedade, tais como taxas de condomínio, taxas de públicas, seguros, etc., bem como períodos em que a propriedade não estiver alugada.</p>
<p class="left-align light">Calcule se você ainda seria capaz de as prestações caso as taxas de juros aumentem  , por exemplo, dois por cento. Se você não pensa que poderia, pode achar que está se comprometer demais e, em vez disso, pode querer olhar para uma propriedade mais barata ou salvar por mais tempo.</p>
<br/>
<h5 class="left-align">Planejar o longo prazo</h5>
<p class="left-align light">Construir um portfólio de propriedades requer compromisso a longo prazo. Alguns especialistas em propriedades aconselham que, para ver o maior benefício do crescimento do capital, você deve manter sua propriedade por pelo menos sete a dez anos. Cada situação é diferente, é claro, mas quanto mais tempo você segure em sua propriedade ou propriedades, mais provável será que você possa enfrentar eventuais desacelerações no ciclo do mercado.</p>
<p class="left-align light">Lembre-se de que nada é garantido e sempre há risco com qualquer investimento na propriedade. É importante garantir que você faça tanta pesquisa quanto possível para reduzir o risco de algo inesperado.</p>
</div>
</div>
</div>
</div>
</div>
