<div id="index-banner" class="parallax-container" data-ng-controller="ArtigoCtrl as ctrl">
<div class="parallax"><img src="{{ctrl.MEDIA_FOLDER}}img/fke/artigosdagambiarra/imgart1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
<h4 class="header center blue-text text-darken-4">Comprando seu primeiro imóvel? Por onde começar?</h4>
</div>
<div class="artigo">
<div class="container">
<div class="section">
<div class="row">
<div class="col s12 center">
<h5>Veja 6 dicas importantes para ajudar quem está pensando em comprar o primeiro imóvel.</h5>
<br/>
<p class="left-align light">Para muitas pessoas, comprar o primeiro imóvel será a maior compra que já fizeram na vida e por isso, pode ser muito díficil saber exatamente por onde começar. Seguem aqui algumas dicas para que você compre seu primeiro imóvel com segurança.</p>
<br/>
<h5 class="left-align">Pesquise o mercado</h5>
<p class="left-align light">Antes de mais nada, defina sua necessidade e o que deseja comprar. É importante definir se está procurando um lar para viver ou uma propriedade de investimento. Isso ajudará a estipular o tipo de pesquisa que você precisará realizar. Você vai poder ter uma idéia de onde você gostaria de comprar, quais as tendências de mercado na área desejada e qual o perfil de imóvel que você pode pagar.</p>
<br/>
<h5 class="left-align">Descubra o seu orçamento e quanto você pode financiar</h5>
<p class="left-align light">Suas receitas e despesas são determinantes para definir quanto você pode financiar para comprar um imóvel. Use nossa calculadora de empréstimo para ter uma ideia da prestação inicial e da renda necessária para que você possa começar a refinar sua pesquisa. Com uma boa noção de qual é seu poder de compra logo de início, você não perde tempo olhando propriedades que não se encaixam no seu orçamento.</p>
<br/>
<h5 class="left-align">Lembre-se dos detalhes</h5>
<p class="left-align light">Existem mais custos associados com a compra de imóveis que vão além do valor da entrada. Incluir coisas como o imposto e registro no seu orçamento evitarão surpresas desagradáveis mais tarde. E se é a sua primeira casa, consulte o cartório de registro de imóveis onde ocorrerá o registro pois você tem direito a desconto na despesa do registro do contrato de financiamento.</p>
<br/>
<h5 class="left-align">Defina seus objetivos</h5>
<p class="left-align light">Não importa o tipo de casa que você deseja comprar, você precisará economizar para a entrada. Comece por montar um orçamento para calcular o quanto você pode economizar a cada mês. Faça uma poupança para acumular o valor da entrada e ver quanto tempo você irá levr para alcançar seu objetivo.</p>
<p class="left-align light">Para conseguir poupar, estabeleça metas intermediárias ao longo do caminho, isso vai te ajudar a saber se o seu orçamento e objetivos são realistas. Considere a possibilidade de abrir uma conta de poupança separada, assim você pode garantir que o dinheiro para este projeto não seja consumido por outras necessidades.</p>
<br/>
<h5 class="left-align">Pense nas suas opções de financiamento imobiliário</h5>
<p class="left-align light">Assim como as casas, existem diferentes linhas de financiamento imobiliário e você precisa encontrar o que melhor atende suas necessidades. Você precisa ter certeza de que as prestações do financiamento cabem no seu bolso, idealmente, elas não devem exceder 30% do seu salário.</p>
<p class="left-align light">Dependendo da sua situção, avalie se uma taxa de juros variável ou fixa pode funcionar melhor. Um especialista em empréstimos pode explicar as diferenças e ajudá-lo a identificar o que é importante para você. Uma vez que você esteja pronto, veja como obter a pré-aprovação de crédito para que você possa tranquilidade quando encontrar o imóvel ideal.</p>
<br/>
<h5 class="left-align">Encontre seu novo lar</h5>
<p class="left-align light">Depois de ter tudo no lugar, é hora de ampliar a sua pesquisa. Monitore o mercado de perto e veja uma grande variedade de propriedades diferentes para que você possa obter uma boa ideia do valor médio de imóveis semelhantes.</p>
<p class="left-align light">No momento em que você encontrar o seu imóvel ideal, você vai querer agir rapidamente, então interaja com os vendedores, visite os imóveis que mais lhe agradaram e faça suas ofertas, se preferir consulte um advogado especializado ou um corretor de imóveis para te ajudar.</p>
<p class="left-align light">Quando estiver pronto para comprar, solicite um financiamento imobiliário e se prepare para mudar para a casa nova.</p>
</div>
</div>
</div>
</div>
</div>
