<div id="index-banner" class="parallax-container" data-ng-controller="ArtigoCtrl as ctrl">
<div class="parallax"><img src="{{ctrl.MEDIA_FOLDER}}img/fke/artigosdagambiarra/imgart2.jpg" alt="Unsplashed background img 1">
</div>
</div>
<div class="container">
<h4 class="header center blue-text text-darken-4">Entendendo os custos de comprar um imóvel</h4>
</div>
<div class="artigo">
<div class="container">
<div class="section">
<div class="row">
<div class="col s12 center">
<h5>A entrada e o imposto ITBI são dois dos custos que você precisa considerar quando pensar em comprar sua casa.</h5>
<br/>
<p class="left-align light">Você está pensando em comprar um aconchegante apartamento de um quarto em uma área renovada do centro da cidade? Ou talvez você esteja pensando em uma casa de quatro quartos em um condomínio fechado. Independentemente do tipo de imóvel que você está procurando, existem despesas importantes que vão além da entrada e do financiamento imobiliário que você deve e precisa conhecer para não ser pego de surpresa mais tarde.</p>
<br/>
<h5 class="left-align">ITBI (Imposto sobre Transmissão de Bens Imóveis) e Registro</h5>
<p class="left-align light">O ITBI é o maior custo depois da entrada. É um imposto devido em toda transação imobiliária e precisa ser pago previamente ao registro, que deve ocorrer em até 30 dias após a assinatura do contrato de financiamento. Lembre-se, se você estiver comprando seu primeiro imóvel, você tem direito a um desconto nessa despesa. Além do ITBI, você também precisará pagar uma taxa pelo registro do título de sua propriedade no Cartório de Registro de Imóveis da sua localidade.</p>
<br/>
<h5 class="left-align">Tarifa de avaliação</h5>
<p class="left-align light">Antes da contratação do financiamento imobiliário, será necessária a realização da avaliação do imóvel para que você tenha certeza de que a propriedade possui habitabilidade. Mesmo imóveis novos podem apresentar algum problema, e apenas uma avaliação feita por um profissional especializado poderá descobrir. A boa notícia é que você pode incluir o valor destas despesas no seu financiamento imobiliário, consulte as opções de financiamento que o Banco do Brasil pode oferecer para melhor atender suas necessidades.</p>
<br/>
<h5 class="left-align">Custos de mudança</h5>
<p class="left-align light">Uma vez que o negócio estiver concluido e as chaves sejam suas, você ainda terá despesas com a mudança e/ou reforma do imóvel. Certifique-se também de reservar recursos para a conexão de serviços públicos, como eletricidade, água, gás etc. Não seja pego de surpresa, a compra de imóvel deve ser bem planejada de modo a evitar situações desagradáveis, fale com nossos especialistas em crédito imobiliário.</p>
</div>
</div>
</div>
</div>
</div>
