<div data-ng-controller="EmpreendimentoCadastroCtrl as ctrl" data-ng-init="ctrl.init()">

	<div class="bg-building">
		<div class="section no-pad-bot dark-bg z-depth-3">
			<div class="container">
				<div class="row center">
					<h1 class="white-text light">{{ctrl.editing ? 'Edição de anúncio' : 'Novo anúncio'}}</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="grey lighten-4 form-imovel">
		<div class="container box-busca-home spaced-block">
			<form id="form_criar">

				<div class="card">
					<div class="card-content">

						<div class="row spaced-row">
							<div class="col s12 center">
								<h2 class="header light big-text black-text">Qual a localização do imóvel?</h2>
							</div>
						</div>

						<div class="row spaced-row">
							<div class="input-field col s12 m6 push-m3 l4 push-l4">
								<input id="input_cep" name="input_cep" type="text" class="validate cep-watch"
									pattern="^[0-9]{5}-?[0-9]{3}$" data-mask="00000-000"
									data-ng-model="ctrl.anuncio.enderecoAnuncio.numCep" data-ng-change="ctrl.buscaCep()">
								<p class="center"><a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank">Esqueceu seu CEP?</a></p>
								<label for="input_cep">CEP</label>
							</div>
						</div>

						<div class="row spaced-row">
							<div class="col s12 center">
								<h2 class="header light big-text black-text">Complemente o endereço do imóvel que você está vendendo</h2>
							</div>
						</div>

						<div class="row spaced-row">
							<div class="input-field col s12 m6 l4 push-l1">
								<input id="input_logradouro" name="input_logradouro" type="text" class="validate"
									data-ng-model="ctrl.anuncio.enderecoAnuncio.nomLogradouro">
								<label for="input_logradouro">Endereço</label>
							</div>
							<div class="input-field col s12 m2 l3 push-l1">
								<input id="input_unidade" name="input_unidade" type="text" class="validate"
									pattern="^[0-9]*$" data-mask="#######0"
									data-ng-model="ctrl.anuncio.enderecoAnuncio.numEndereco">
								<label for="input_unidade">Número</label>
							</div>
							<div class="input-field col s12 m4 l3 push-l1">
								<input id="input_complemento" name="input_complemento" type="text" class="validate"
									data-ng-model="ctrl.anuncio.enderecoAnuncio.nomComplemento">
								<label for="input_complemento">Complemento</label>
							</div>
						</div>

						<div class="row spaced-row">
							<div class="input-field col s12 m2 l2 push-l1">
								<input id="input_uf" name="input_uf" type="text" class="validate"
									data-ng-model="ctrl.anuncio.enderecoAnuncio.sgUF">
								<label for="input_uf">UF</label>
							</div>
							<div class="input-field col s12 m6 l4 push-l1">
								<input id="input_localidade" name="input_localidade" type="text" class="validate"
									data-ng-model="ctrl.anuncio.enderecoAnuncio.nomCidade">
								<label for="input_localidade">Município</label>
							</div>
							<div class="input-field col s12 m4 l4 push-l1">
								<input id="input_bairro" name="input_bairro" type="text" class="validate"
									data-ng-model="ctrl.anuncio.enderecoAnuncio.nomBairro">
								<label for="input_bairro">Bairro</label>
							</div>
						</div>

						<div class="row spaced-row">
							<div class="col s12 center">
								<h2 class="header light big-text black-text">Se necessário, mova o marcador para a localização exata do imóvel</h2>
							</div>
						</div>

						<div id="maps" class="row maps"></div>
					</div>
				</div>

				<!-- EXTRAS SO PARA PJ -->

				<div class="card">
					<div class="card-content">

						<div class="row spaced-row center">
							<div class="col s12 center">
							<h3 class="header light medium-text">Até quando o anúncio deve ser exibido?</h3>
							</div>
						</div>

						<div class="row spaced-row">
							<div class="input-field col s12 m6 push-m3 l4 push-l4">
								<input id="input_unidades" name="input_unidades" type="text" class="validate datepicker date-format"
									data-ng-model="ctrl.anuncio.dataExpiracao" />
								<label for="input_unidades">Data final para o anúncio</label>
							</div>
						</div>

						<div class="row spaced-row center">

							<h3 class="header light medium-text">Fale mais sobre o imóvel e condomínio</h3>
							<div class="input-field col s12 m6 l5 push-l1">
								<input id="input_nome" name="input_nome" type="text" class="validate"
									data-ng-model="ctrl.anuncio.nomTitulo">
								<label for="input_nome">Nome do empreendimento</label>
							</div>

							<div class="input-field col s12 m6 l5 push-l1">
								<input id="input_logradouro" name="input_logradouro" type="text" class="validate"
									data-ng-model="ctrl.anuncio.nomIncorporadora">
								<label for="input_logradouro">Nome da incorporadora</label>
							</div>

						</div>
						<div class="row spaced-row center">

							<div class="input-field col s12 m6 l5 push-l1">
								<select id="input_obra" name="input_obra" class="material-select validate"
									data-ng-model="ctrl.anuncio.empreendimento.codEstagioObra"
									data-ng-options="item.value as item.label for item in ctrl.estagiosObra">
									<option value="" disabled>Selecione</option>
								</select>
								<label for="input_obra">Estágio da obra</label>
							</div>
							<div class="input-field col s12 m6 l5 push-l1">
								<input id="input_unidades" name="input_unidades" type="text" class="validate"
									pattern="^[0-9]+$" data-mask="#####0"
									data-ng-model="ctrl.anuncio.qtdUnidade">
								<label for="input_unidades">Número de unidades</label>
							</div>

						</div>
						<div class="row spaced-row center">

							<div class="input-field col s12 m12 l10 push-l1">
								<select id="input_amenities" name="input_amenities" class="material-select" multiple
									data-ng-model="ctrl.anuncio.comodidadeAnuncios"
									data-ng-options="comodidade.nomTipoComodidade for comodidade in ctrl.comodidades track by comodidade.codTipoComodidade">
									<option value="" disabled>Selecione</option>
								</select>
								<label for="input_amenities">Comodidades</label>
							</div>

						</div>

						<div class="row spaced-row">
							<div class="input-field col s12 l10 push-l1">
								<textarea name="input_descricao" id="input_descricao" class="materialize-textarea"
									data-ng-model="ctrl.anuncio.txtDescricao"></textarea>
								<label for="input_descricao">Breve descrição</label>
							</div>
						</div>
					</div>
				</div>

				<ul class="collapsible" data-collapsible="accordion" id="bloco_unidades">
					<li data-ng-repeat="(uniKey, uniVal) in ctrl.anuncio.unidadeAnuncios">
						<div class="collapsible-header">
							{{ uniVal.txtTitulo?uniVal.txtTitulo:"Unidade tipo " + (uniKey + 1)}}
							<button class="btn waves-effect waves-light red darken-3 center" data-tooltip="Remover unidade"
								data-ng-click="ctrl.removerUnidade(uniKey)">
								<i class="material-icons white-text">delete_forever</i>
							</button>
						</div>
						<div class="collapsible-body">

							<div class="row center spaced-row">
								<div class="col s12 center">
									<h2 class="header light big-text black-text">Qual o tipo de imóvel da unidade?</h2>
								</div>

								<div class="col s5 push-s1 m3 push-m3 l2 push-l4 top-radio">
									<input class="with-gap tipo-imovel" name="input_tipo{{uniKey}}" type="radio" id="input_tipo2_{{uniKey}}" value="2"
										data-ng-model="uniVal.codTipoUnidade" />
									<label for="input_tipo2_{{uniKey}}"><i class="material-icons large waves-effect waves-light {{uniVal.codTipoUnidade == 2 ? 'blue-text text-darken-3' : ''}}">business</i><br />Residencial</label>
								</div>
								<div class="col s5 push-s1 m3 push-m3 l2 push-l4 top-radio">
									<input class="with-gap tipo-imovel" name="input_tipo{{uniKey}}" type="radio" id="input_tipo3_{{uniKey}}" value="3"
										data-ng-model="uniVal.codTipoUnidade" />
									<label for="input_tipo3_{{uniKey}}"><i class="material-icons large waves-effect waves-light {{uniVal.codTipoUnidade == 3 ? 'blue-text text-darken-3' : ''}}">store</i><br />Comercial</label>
								</div>
							</div>

							<div class="row spaced-row center">
								<h3 class="header light medium-text">Quais as características da unidade?</h3>
								<div class="input-field col s12 l10 push-l1">
									<input id="input_titulo_unidade{{uniKey}}" name="input_titulo_unidade[{{uniKey}}]" type="text"
										pattern="^.+$" class="validate"
										data-ng-model="ctrl.anuncio.unidadeAnuncios[uniKey].txtTitulo" maxlength="50" />
									<label for="input_titulo_unidade{{uniKey}}">Nome da unidade</label>
								</div>
							</div>

							<div class="row spaced-row center">
								<div class="input-field col s12 l10 push-l1">
									<textarea name="input_descricao_unidade[{{uniKey}}]" id="input_descricao_unidade{{uniKey}}" class="materialize-textarea"
										data-ng-model="ctrl.anuncio.unidadeAnuncios[uniKey].txtDescricao"></textarea>
									<label for="input_descricao_unidade{{uniKey}}">Descrição da unidade</label>
								</div>
							</div>

							<div class="row center">
								<div class="col s12 m4 l3 push-l1" data-ng-if="uniVal.codTipoUnidade != 3">
									<i class="bi-icon large bed"></i>
									<div class="input-field">
										<select id="input_quartos{{uniKey}}" name="input_quartos[{{uniKey}}]" class="material-select"
											data-ng-model="ctrl.anuncio.unidadeAnuncios[uniKey].caracteristicaUnidades[ctrl.getCaracteristica(ctrl.anuncio.unidadeAnuncios[uniKey], 1)].vlrCaracteristica"
											data-ng-options="item.value as item.label for item in ctrl.quartos">
											<option value="" selected disabled>Selecione</option>
										</select>
										<label for="input_quartos{{uniKey}}">Quartos</label>
									</div>
								</div>
								<div class="col s12 m4 l3 push-l1" data-ng-if="uniVal.codTipoUnidade == 3">
									<i class="bi-icon large room"></i>
									<div class="input-field">
										<select id="input_room{{uniKey}}" name="input_room[{{uniKey}}]" class="material-select"
											data-ng-model="ctrl.anuncio.unidadeAnuncios[uniKey].caracteristicaUnidades[ctrl.getCaracteristica(ctrl.anuncio.unidadeAnuncios[uniKey], 4)].vlrCaracteristica"
											data-ng-options="item.value as item.label for item in ctrl.rooms">
											<option value="" selected disabled>Selecione</option>
										</select>
										<label for="input_quartos{{uniKey}}">Salas</label>
									</div>
								</div>
								<div class="col s12 m4 l4 push-l1">
									<i class="bi-icon large bath"></i>
									<div class="input-field">
										<select id="input_banheiros{{uniKey}}" name="input_banheiros[{{uniKey}}]" class="material-select"
											data-ng-model="ctrl.anuncio.unidadeAnuncios[uniKey].caracteristicaUnidades[ctrl.getCaracteristica(ctrl.anuncio.unidadeAnuncios[uniKey], 2)].vlrCaracteristica"
											data-ng-options="item.value as item.label for item in ctrl.banheiros">
											<option value="" selected disabled>Selecione</option>
										</select>
										<label for="input_banheiros{{uniKey}}">Banheiros</label>
									</div>
								</div>
								<div class="col s12 m4 l3 push-l1">
									<i class="bi-icon large park"></i>
									<div class="input-field">
										<select id="input_garagem{{uniKey}}" name="input_garagem[{{uniKey}}]" class="material-select"
											data-ng-model="ctrl.anuncio.unidadeAnuncios[uniKey].caracteristicaUnidades[ctrl.getCaracteristica(ctrl.anuncio.unidadeAnuncios[uniKey], 3)].vlrCaracteristica"
											data-ng-options="item.value as item.label for item in ctrl.garagens">
											<option value="" selected disabled>Selecione</option>
										</select>
										<label for="input_garagem{{uniKey}}">Garagem</label>
									</div>
								</div>
							</div>
							<div class="row center">
								<div class="input-field col s12 m4 l3 push-l1">
									<input id="input_valor{{uniKey}}" name="input_valor[{{uniKey}}]" type="text"
										placeholder="R$" class="validate right-align"
										data-mask-reverse="true" data-mask="#.###.##0,00" maxlength="18"
										data-ng-model="ctrl.anuncio.unidadeAnuncios[uniKey].vlrUnidadeFull" />
									<label for="input_valor{{uniKey}}" data-error="Valor em Reais">Valor</label>
								</div>
								<div class="input-field col s12 m4 l4 push-l1">
									<input id="input_valor_desconto{{uniKey}}" name="input_valor_desconto[{{uniKey}}]" type="text"
										placeholder="R$" class="validate right-align"
										data-mask-reverse="true" data-mask="#.###.##0,00" maxlength="18"
										data-ng-model="ctrl.anuncio.unidadeAnuncios[uniKey].vlrUnidadeDescontoFull" />
									<label for="input_valor_desconto{{uniKey}}" data-error="Valor em Reais">Valor com desconto</label>
								</div>
								<div class="input-field col s12 m4 l3 push-l1">
									<input id="input_area_privativa{{uniKey}}" name="input_area_privativa[{{uniKey}}]" type="text"
										placeholder="m²" class="validate right-align"
										data-mask-reverse="true" data-mask="#.###.##0,00" maxlength="13"
										data-ng-model="ctrl.anuncio.unidadeAnuncios[uniKey].qtdAreaUnidadeFull" />
									<label for="input_area_privativa{{uniKey}}" data-error="Valor em m²">Área privativa</label>
								</div>
							</div>

							<div class="row spaced-row center">
								<h3 class="header light medium-text">Adicione fotos do imóvel</h3>

								<div class="input-field col s12 l10 push-l1">
									<div class="file-field input-field">
										<div class="col s12 btn-large waves-effect grey lighten-3">
											<span class="black-text">Selecione as fotos</span>
											<input class="anuncio-foto" type="file" multiple
												data-nv-file-select data-uploader="uploader" options="{id: '{{uniKey}}'}" />
										</div>
									</div>
								</div>

							</div>
							<div class="row spaced-row center">
								<div class="col s12 l10 push-l1" id="galeria{{uniKey}}">

									<div class="photo-container col s12 m6 l4 xl3" data-ng-repeat="media in uniVal.mediaUnidadeAnuncios">
										<img data-ng-click="ctrl.mudarFotoCapa(media.codDocumento, uniKey)" width="100%" class="card pointer hoverable {{media.codDocumento == uniVal.codDocumentoCapa ? 'foto-de-capa' : ''}}" data-ng-src="{{media.txtSrcThumb}}" />
										<div class="card-photo-icons ng-scope">
											<a class="btn-floating waves-effect red darken-3" data-tooltip="Remover foto"
												data-ng-click="ctrl.removerFoto(media.codDocumento, uniKey)">
												<i class="material-icons">delete</i>
											</a>
											<i class="material-icons btn-floating small blue darken-4" data-tooltip="Foto de capa"
												data-ng-if="media.codDocumento == uniVal.codDocumentoCapa">panorama</i>
										</div>
									</div>

								</div>
							</div>

						</div>
					</li>
				</ul>
				<div class="row spaced-row center">
					<div class="col s12 l10 push-l1">
						<button id="btn_add_unidade" class="btn-floating btn-large waves-effect waves-light blue darken-4 adicionar-unidade"
							data-tooltip="Adicionar unidade"
							data-ng-click="ctrl.adicionarUnidade()"><i class="material-icons">add</i></button>
					</div>
				</div>

				<div class="row spaced-row center">
					<div class="col s12 l10 push-l1">
						<button data-ng-click="ctrl.submit(ctrl.anuncio)" class="btn-large waves-effect blue darken-4">{{ctrl.editing?'Gravar alterações':'Gravar empreendimento'}}</button>
					</div>
				</div>
			</form>

		</div>
	</div>

</div>
