<div data-ng-controller="BemVindoCtrl as ctrl" data-ng-init="ctrl.init()">

<div id="index-banner" class="parallax-container valign-wrapper dark-bg z-depth-1">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<h1 class="light">Bem-vindo ao Balcão de Imóveis</h1>
				<p class="flow-text">
					O Banco do Brasil vai ajudá-lo a vender ou encontrar e comprar a sua casa com orientação especializada,
					descontos exclusivos, ferramentas fáceis de usar e informações sobre o mercado.<br />
					Tudo o que você precisa para realizar seu sonho num só lugar.
				</p>
			</div>
			<div class="row center">
				<a ui-sref="html.home" class="btn-large waves-effect blue darken-4 pushpin-demo-nav">Iniciar</a>
			</div>
		</div>
	</div>
	<div class="parallax">
		<video poster="{{ctrl.MEDIA_FOLDER}}movie/parallax_r.png" playsinline muted autoplay loop>
			<source data-ng-src="{{ctrl.MEDIA_FOLDER}}movie/parallax_r.mp4" type="video/mp4" />
			<source data-ng-src="{{ctrl.MEDIA_FOLDER}}movie/parallax_r.webm" type="video/webm" />
			<source data-ng-src="{{ctrl.MEDIA_FOLDER}}movie/parallax_r.ogv" type="video/ogg" />
			<img data-ng-src="{{ctrl.MEDIA_FOLDER}}movie/parallax_r.png" alt="Imagem rua" />
		</video>
	</div>
</div>

<div class="grey lighten-4">
	<div class="container spaced-block">
		<div class="row">
			<div class="col s12 m12 l4">
				<div class="icon-block center">
					<h2 class="center"><i class="material-icons blue-text text-darken-4">search</i></h2>
					<h5 class="center">Encontre o seu imóvel</h5>
					<p class="light left-align">Encontre casas, apartamentos, e imóveis comerciais para compra, em construção ou prontos pra morar e com prestações que cabem no seu bolso.</p>
				</div>
			</div>

			<div class="col s12 m12 l4">
				<div class="icon-block center">
					<h2 class="center"><i class="material-icons blue-text text-darken-4">record_voice_over</i></h2>
					<h5 class="center">Anuncie o seu imóvel</h5>
					<p class="light left-align">Anuncie seu imóvel e coloque-o à disposição de milhares de clientes que estão em busca do imóvel ideal. Já pensou que este imóvel pode ser o seu? Além disso. não deixe de conhecer as vantagens de certificar seu imóvel para uma venda mais rápida. Venda casas, apartamentos e qualquer tipo de imóvel sem precisar de imobiliária ou corretor.</p>
				</div>
			</div>

			<div class="col s12 m12 l4">
				<div class="icon-block center">
					<h2 class="center"><i class="material-icons blue-text text-darken-4">track_changes</i></h2>
					<h5 class="center">Acompanhe sua proposta</h5>
					<p class="light left-align">O sistema de acompanhamento de propostas permite que você acompanhe a evolução da sua proposta de financiamento sem sair de casa, pelo celular ou pelo computador, desde o início do processo até o pagamento ao vendedor. De um jeito muito simples você pode saber qual o andamento do seu processo.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="parallax-container valign-wrapper dark-bg">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<p class="col s12 flow-text light">
					Explore nossas ferramentas fáceis de usar e encontre o imóvel dos seus sonhos entre os diversos empreendimentos
					financiados pelo Banco do Brasil por todo o território nacional e com descontos exclusivos para você ou entre
					os milhares de anúncios feitos por outros clientes.
				</p>
			</div>
		</div>
	</div>
	<div class="parallax blue-grey darken-4"><img src="{{ctrl.MEDIA_FOLDER}}img/bkg/parallax_cidade.jpg" alt="Imagem cidade" /></div>
</div>

<div class="grey lighten-4">
	<div class="container spaced-block">
		<div class="row">
			<div class="col s12 center">
				<h3><i class="mdi-content-send"></i></h3>
				<h4>Imóvel Certificado BB</h4>
				<p class="left-align light center">
					Com o imóvel certificado BB, você pode realizar a análise antecipada da documentação necessária para a venda do seu imóvel,
					dando mais agilidade no processo de financiamento e na liberação dos recursos. Se você estiver procurando o imóvel dos seus sonhos,
					você pode mudar para sua casa nova antes do que imagina, pois todo o processo de análise já está concluído.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="parallax-container valign-wrapper dark-bg">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<p class="col s12 flow-text light">
					Financie a aquisição do seu imóvel e pague em parcelas que cabem no seu bolso.<br />
					Conheça nossas opções de financiamento e escolha a mais adequada ao seu estilo de vida.
				</p>
			</div>
		</div>
	</div>
	<div class="parallax blue-grey darken-4"><img src="{{ctrl.MEDIA_FOLDER}}img/bkg/parallax_cidade.jpg" alt="Imagem calçada" /></div>
</div>

<div class="container">

	<!--   Icon Section   -->
	<div class="row spaced-block">
		<div class="col s12 m12 l4">
			<div class="icon-block">
				<h2 class="center"><i class="material-icons blue-text text-darken-4">monetization_on</i></h2>
				<h5 class="center">Opções de financiamento</h5>
				<p class="light">Com o BB Crédito Imobiliário você financia até 80% do valor do seu imóvel residencial novo ou usado, em até 420&nbsp;meses** e com uma das menores taxas de juros do mercado. Para imóveis enquadrados nas normas do sistema Financeiro da Habitação (SFH), conforme as regras do Manual do FGTS, é possível utilizar seu FGTS na entrada, amortização e liquidação do crédito imobiliário.</p>
			</div>
		</div>

		<div class="col s12 m12 l4">
			<div class="icon-block">
				<h2 class="center"><i class="material-icons blue-text text-darken-4">attach_money</i></h2>
				<h5 class="center">Financiamento de Despesas</h5>
				<p class="light">Você pode incluir o custo das despesas abaixo no valor do seu financiamento. Estes valores, somados ao valor do imóvel, não podem ultrapassar os percentuais máximos financiáveis de cada linha e serão ressarcidos no momento da liberação ao vendedor.</p>
			</div>
		</div>

		<div class="col s12 m12 l4">
			<div class="icon-block">
				<h2 class="center"><i class="material-icons blue-text text-darken-4">security</i></h2>
				<h5 class="center">Segurança</h5>
				<p class="light">As operações de crédito imobiliário são cobertas, obrigatoriamente por lei, pelos seguintes seguros habitacionais: Seguro de Morte e Invalidez Permanente (MIP) e Seguro de Danos Físicos ao Imóvel (DFI). Os prêmios de seguro são cobrados mensalmente junto das prestações do imóvel financiado, mesmo durante o período de carência da amortização do capital.</p>
			</div>
		</div>
	</div>

</div>

</div>
