<div class="container">
    <div class="row">
        <div class="col l3 m6 s12">
            <p>
                Central de Atendimento BB<br />
                <span class="light">4004&nbsp;0001 / 0800&nbsp;729&nbsp;0001</span>
            </p>
        </div>
        <div class="col l3 m6 s12">
            <p>
                Deficientes Auditivos/Fala<br />
                <span class="light">0800&nbsp;729&nbsp;0088</span>
            </p>
        </div>
        <div class="col l3 m6 s12">
            <p>
                SAC<br />
                <span class="light">0800&nbsp;729&nbsp;0722</span>
            </p>
        </div>
        <div class="col l3 m6 s12">
            <p>
                Ouvidoria BB<br />
                <span class="light">0800&nbsp;729&nbsp;5678</span>
            </p>
        </div>
    </div>
</div>
<div class="footer-copyright white" data-ng-controller="FooterCtrl as ctrl" data-ng-init="ctrl.init()">
    <div class="container">
        <div class="row">
        <div class="col s12 m4 black-text" title="{{ctrl.versao}}">© Banco do Brasil</div>
        <div class="col s12 m8 black-text light align-right">
            <ul>
                <li><a href="http://www.bb.com.br/pbb/pagina-inicial/Mapa-do-Site">Mapa do Site</a></li>
                <li><a href="http://www.bb.com.br/seguranca">Segurança</a></li>
                <li><a href="http://www.bb.com.br/pbb/pagina-inicial/sobre-nos/etica-e-integridade/">Ética e Integridade</a></li>
                <li><a href="http://www.bb.com.br/pbb/pagina-inicial/voce/politicas-de-uso-e-privacidade">Políticas de uso e Privacidade</a></li>
            </ul>
        </div>
    </div>
</div>
