<div data-ng-controller="HomeCtrl as ctrl" data-ng-init="ctrl.init()" id="home" class="hide-overflow">

<div id="index-banner" class="parallax-container valign-wrapper dark-bg z-depth-1">
	<div class="section no-pad-bot">
		<div class="container nav-aux-prev">
			<div class="row center">
				<h1 class="light">Balcão de Imóveis</h1>
				<p class="col s12 flow-text light">Conheça as soluções imobiliárias que fizemos pensando em você.</p>
			</div>
		</div>
	</div>
	<div class="parallax">
		<video poster="{{ctrl.MEDIA_FOLDER}}movie/parallax_r.png" playsinline muted autoplay loop>
			<source data-ng-src="{{ctrl.MEDIA_FOLDER}}movie/parallax_r.mp4" type="video/mp4" />
			<source data-ng-src="{{ctrl.MEDIA_FOLDER}}movie/parallax_r.webm" type="video/webm" />
			<source data-ng-src="{{ctrl.MEDIA_FOLDER}}movie/parallax_r.ogv" type="video/ogg" />
			<img data-ng-src="{{ctrl.MEDIA_FOLDER}}movie/parallax_r.png" alt="Imagem rua" />
		</video>
	</div>
</div>

<div class="container nav-aux">
	<div class="nav-aux-bg card">
		<ul class="row">
			<li class="col l2 s12 blue darken-4 waves-effect">
				<a class="white-text" data-scroll-ancora="busque">
					<i class="material-icons small">search</i><span class="smallcaps">Buscar</span>
				</a>
			</li>
			<li class="col l2 s12 blue darken-4 waves-effect">
				<a class="white-text" data-scroll-ancora="calculadora">
					<i class="material-icons small">attach_money</i><span class="smallcaps">Calculadora</span>
				</a>
			</li>
			<li class="col l2 s12 blue darken-4 waves-effect">
				<a class="white-text" data-scroll-ancora="anuncie">
					<i class="material-icons small">rate_review</i><span class="smallcaps">Anunciar</span>
				</a>
			</li>
			<li class="col l2 s12 blue darken-4 waves-effect">
				<a class="white-text" data-scroll-ancora="certifique-seu-imovel">
					<i class="material-icons small">verified_user</i><span class="smallcaps">
						<span class="hide-on-large-only">Imóvel certificado</span>
						<span class="hide-on-med-and-down">Certificado</span> BB
					</span>
				</a>
			</li>
			<li class="col l2 s12 blue darken-4 waves-effect">
				<a class="white-text" data-scroll-ancora="nossas-linhas">
					<i class="material-icons small">storage</i><span class="smallcaps">Financiamentos</span>
				</a>
			</li>
			<li class="col l2 s12 blue darken-4 waves-effect">
				<a class="white-text" data-scroll-ancora="envie-sua-proposta">
					<i class="material-icons small">present_to_all</i><span class="smallcaps">Fale conosco</span>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="nav-aux-next bg-map" id="busque">
	<div class="container box-busca-home">
		<div class="row">
			<div class="col s12">
				<div class="row spaced-block">

					<form class="col s12 m12 l6 form-busca form-fix" data-ng-submit="ctrl.buscar()">
						<div class="row">
							<h2 class="col s12 flow-text"><strong>Encontre o imóvel ideal</strong> para você, de um jeito <strong>rápido e fácil</strong></h2>
							<div class="col s12 m8 l8 input-field">
								<input class="validate" type="text" placeholder="Onde fica o imóvel?"
									data-ng-model="ctrl.filtros.txtLocalizacao"/>
							</div>
							<div class="col s12 m4 l4 input-field">
								<button class="col s12 btn waves-effect blue darken-4"><i class="material-icons vertical-align-icon left">search</i>Buscar</button>
							</div>
						</div>

						<div class="col s12 search-filter-block margin-bottom-40">
							<div class="search-filter-main">
								<a href="" class="blue-text text-darken-4"
									data-ng-click="ctrl.filterToggle()">
									<i class="material-icons vertical-align-icon">add</i>
									filtros de busca
								</a>
							</div>
							<div id="search-filter-extra" class="search-filter-extra">
								<div class="row center spaced-row">
									<div class="col s12 noUi-box">
										<div class="noUi-label">R$ {{ctrl.app.formatarDinheiro(ctrl.filtros.vlrUnidadeInicio)}} até R$ {{ctrl.app.formatarDinheiro(ctrl.filtros.vlrUnidadeFim)}}</div>
										<div id="price-slider"></div>
									</div>
								</div>
								<div class="row center spaced-row">
									<div class="col s12 full-col">
										<div class="col s4 top-radio">
											<input class="tipo-imovel toggle-radio" type="radio" id="input_tipo2" value="2"
												data-ng-click="radioCancel($event)"
												data-ng-model="ctrl.filtros.codTipoUnidade" />
											<label for="input_tipo2">
												<i class="material-icons huger-text {{ctrl.filtros.codTipoUnidade == 2 ? 'blue-text text-darken-3' : ''}}">business</i><br/>
												Apartamento
											</label>
										</div>
										<div class="col s4 top-radio">
											<input class="tipo-imovel toggle-radio" type="radio" id="input_tipo1" value="1"
												data-ng-click="radioCancel($event)"
												data-ng-model="ctrl.filtros.codTipoUnidade" />
											<label for="input_tipo1">
												<i class="material-icons huger-text {{ctrl.filtros.codTipoUnidade == 1 ? 'blue-text text-darken-3' : ''}}">home</i><br/>
												Casa
											</label>
										</div>
										<div class="col s4 top-radio">
											<input class="tipo-imovel toggle-radio" type="radio" id="input_tipo3" value="3"
												data-ng-click="radioCancel($event)"
												data-ng-model="ctrl.filtros.codTipoUnidade" />
											<label for="input_tipo3">
												<i class="material-icons huger-text {{ctrl.filtros.codTipoUnidade == 3 ? 'blue-text text-darken-3' : ''}}">store</i><br/>
												Comercial
											</label>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col s12 full-col">

										<div class="col s12 m4" data-ng-if="ctrl.filtros.codTipoUnidade != 3">
											<div class="input-field">
												<i class="bi-icon large bed prefix-icon"></i>
												<select id="input_quartos" name="input_quartos" class="material-select"
													data-ng-model="ctrl.filtros.quarto"
													data-ng-options="item.value as item.label for item in ctrl.quartos">
													<option value="" selected>qualquer</option>
												</select>
												<label for="input_quartos">Quartos</label>
											</div>
										</div>
										<div class="col s12 m4" data-ng-if="ctrl.filtros.codTipoUnidade == 3">
											<div class="input-field">
												<i class="bi-icon large room prefix-icon"></i>
												<select id="input_room" name="input_room" class="material-select"
													data-ng-model="ctrl.filtros.sala"
													data-ng-options="item.value as item.label for item in ctrl.rooms">
													<option value="" selected>qualquer</option>
												</select>
												<label for="input_quartos">Salas</label>
											</div>
										</div>
										<div class="col s12 m4">
											<div class="input-field">
												<i class="bi-icon large bath prefix-icon"></i>
												<select id="input_banheiros" name="input_banheiros" class="material-select"
													data-ng-model="ctrl.filtros.banheiro"
													data-ng-options="item.value as item.label for item in ctrl.banheiros">
													<option value="" selected>qualquer</option>
												</select>
												<label for="input_banheiros">Banheiros</label>
											</div>
										</div>
										<div class="col s12 m4">
											<div class="input-field">
												<i class="bi-icon large park prefix-icon"></i>
												<select id="input_garagem" name="input_garagem" class="material-select"
													data-ng-model="ctrl.filtros.vlrGaragem"
													data-ng-options="item.value as item.label for item in ctrl.garagens">
													<option value="" selected>qualquer</option>
												</select>
												<label for="input_garagem">Garagem</label>
											</div>
										</div>

									</div>
								</div>


								<div class="row center">
									<div class="col s12 full-col">

										<div class="input-field col s12 m6">
											<select id="input_quartos" name="input_quartos" class="material-select"
												data-ng-model="ctrl.filtros.obra"
												data-ng-options="item.value as item.label for item in ctrl.estagiosObra">
												<option value="" selected>qualquer</option>
											</select>
											<label for="input_quartos">Status da obra</label>
										</div>

										<div class="input-field col s12 m6">
											<input type="text" id="input_icorporadora" name="input_icorporadora"
												data-ng-model="ctrl.filtros.nomIncorporadora">
											<label for="asd-input">Incorporadora</label>
										</div>

									</div>
								</div>

							</div>

						</div>
					</form>

					<div class="col s12 m12 l6">

						<div class="rslides_container" data-ng-if="ctrl.unidades.length > 0">
							<ul class="rslides">
								<li class="col s10 push-s1 m8 push-m2" data-ng-repeat="(iKey, iVal) in ctrl.unidades">

									<div class="card hoverable">
										<div class="card-image">
											<a href="#/anuncios/{{iVal.anuncio.indEmpreendimento=='S'?'empreendimento/detalhes/'+iVal.anuncio.codAnuncio+'/'+iVal.codUnidade:'detalhes/'+iVal.anuncio.codAnuncio}}" class="link-foto">
												<img data-ng-src="{{iVal.documento.txtSrcThumb||ctrl.MEDIA_FOLDER+'img/fke/500x250.png'}}" />
											</a>
											<!--
											<span class="card-icons">
												<a href="#/anuncios/detalhes/{{iKey}}"><i class="material-icons micro white-text">share</i></a>
											</span>
											-->
										</div>
										<div class="card-stacked">
											<div class="card-content small small-text">
												<a href="#/anuncios/{{iVal.anuncio.indEmpreendimento=='S'?'empreendimento/detalhes/'+iVal.anuncio.codAnuncio+'/'+iVal.codUnidade:'detalhes/'+iVal.anuncio.codAnuncio}}"
													class="truncate">
													<span class="col s4 center"
														data-ng-repeat="caracteristica in iVal.caracteristicaUnidades"
														data-tooltip="{{ctrl.caracteristicas[caracteristica.codTipoCaracteristica].name}}"
														data-ng-if="caracteristica.vlrCaracteristica > 0 && (
															(caracteristica.codTipoCaracteristica != 4 && iVal.codTipoUnidade != 3) ||
															(caracteristica.codTipoCaracteristica != 1 && iVal.codTipoUnidade != 1)
														)">
														<i class="bi-icon {{ctrl.caracteristicas[caracteristica.codTipoCaracteristica].class}}"></i>
														{{caracteristica.vlrCaracteristica}}
													</span>
												</a>
												<p class="truncate light" data-ng-if="iVal.anuncio.indEmpreendimento!='S'">
													<a href="#/anuncios/detalhes/{{iVal.anuncio.codAnuncio}}">
														R$&nbsp;{{ctrl.app.formatarDinheiro(iVal.vlrUnidade)}} &nbsp; - &nbsp;
														{{iVal.anuncio.enderecoAnuncio.nomBairro}} | {{iVal.anuncio.enderecoAnuncio.nomCidade}}-{{iVal.anuncio.enderecoAnuncio.sgUF}}
													</a>
												</p>
												<p class="truncate light" data-ng-if="iVal.anuncio.indEmpreendimento=='S'">
													<a href="#/anuncios/empreendimento/detalhes/{{iVal.anuncio.codAnuncio + '/' + iVal.codUnidade}}">
														R$&nbsp;{{ctrl.app.formatarDinheiro(iVal.vlrUnidadeDesconto)}} &nbsp; - &nbsp;
														{{iVal.anuncio.enderecoAnuncio.nomBairro}} | {{iVal.anuncio.enderecoAnuncio.nomCidade}}-{{iVal.anuncio.enderecoAnuncio.sgUF}}
													</a>
												</p>
												<p class="light"><a href="#/anuncios/{{iVal.anuncio.indEmpreendimento=='S'?'empreendimento/detalhes/'+iVal.anuncio.codAnuncio+'/'+iVal.codUnidade:'detalhes/'+iVal.anuncio.codAnuncio}}">
													{{(iVal.anuncio.indEmpreendimento=='S' ? iVal.anuncio.nomTitulo + " | " + iVal.anuncio.nomIncorporadora : iVal.txtTitulo)}}&nbsp;
												</a></p>
											</div>
										</div>
									</div>

								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="parallax-container valign-wrapper dark-bg" id="calculadora">
	<div class="section no-pad-bot dark-bg">
		<div class="container spaced-block">
			<form action="javascript:;" class="row" method="post">
				<h2 class="col s12 header light center">Está pensando em financiar?</h2>
				<p class="col s12 m10 push-m1 medium-text light center">Faça uma prévia a partir do valor do imóvel que você está pensando em comprar.</p>
				<div class="col s12 m8 push-m2 l6 push-l3 xl4 push-xl4 input-field">
					<input id="input_valor_imovel" autocomplete="false" maxlength="15"
						class="black-text center calculadora" type="text"
						placeholder="Qual o valor do imóvel? " name="v"
						pattern="^(R\$ )?[0-9]{1,3}(\.[0-9]{3})*,[0-9]{2}$" />
				</div>
			</form>
			<div id="valores_simulacao">
				<div class="row center">
					<div class="col s12 m4">
						<h3 class="light bigger-text">Valor financiado</h3>
						<span id="valor_financiado" class="flow-text"></span>
					</div>
					<div class="col s12 m4">
						<h3 class="light bigger-text">Prestação inicial</h3>
						<span id="valor_prestacao" class="flow-text"></span>
					</div>
					<div class="col s12 m4">
						<h3 class="light bigger-text">Renda necessária</h3>
						<span id="valor_salario" class="flow-text"></span>
					</div>
					<div class="col s12 margin-top-50">
						<p class="tiny-text light left-align">*
Isto não é uma simulação de financiamento e apresenta apenas uma estimativa da renda necessária e da prestação inicial para a compra do imóvel informado.
Os valores apresentados são informativos e não possuem caráter de simulação ou aprovação de crédito.
A prévia considera o percentual máximo de financiamento de 80% do valor do imóvel informado e prazo máximo de 360 meses e o sistema de amortização SAC (Sistema de Amortização Constante)
Para a alíquota de seguros foi considerada a faixa etária de 31 a 35 anos.
A taxa de juros considerada é uma média das taxas do mercado e não representam as taxas praticadas pelo Banco do Brasil.</p>
						<p class="normal-text light">Você pode simular seu financiamento em <a href="https://www42.bb.com.br/portalbb/cim/creditoimobiliario/simular,802,2250,2250.bbx"><strong>bb.com.br</strong>.</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="parallax blue-grey darken-4">
		<img data-ng-src="{{ctrl.MEDIA_FOLDER}}img/bkg/parallax_building_windows.jpg" alt="Imagem cidade" />
	</div>
</div>

<div class="grey lighten-4">
	<div class="container" id="anuncie">
		<div class="row center spaced-block">
			<h2 class="col s12 header light blue-text text-darken-4">Quer vender seu imóvel?</h2>
			<p class="col s12 m8 push-m2 medium-text light">
				Crie o anúncio do seu jeito, <strong>ofereça seu imóvel</strong> para <strong>milhares de clientes</strong> e interaja com <strong>potenciais compradores</strong>.
			</p>

			<p class="col s12"><a href="#/anuncios" class="btn waves-effect blue darken-4">
				<i class="material-icons left">edit</i>Crie seu anúncio
			</a></p>
		</div>
	</div>
</div>

<div class="parallax-container valign-wrapper dark-bg" id="certifique-seu-imovel">
	<div class="section no-pad-bot dark-bg">
		<div class="container spaced-block">
			<div class="row center">
				<h2 class="col s12 header light">Quer vender mais rápido?</h2>
				<p class="col s12 m10 push-m1 medium-text light">
					Com o imóvel certificado BB, você pode realizar a análise antecipada da documentação necessária
					para a venda do seu imóvel, dando mais agilidade no processo de financiamento e na liberação dos recursos.
				</p>
				<p class="col s12"><a href="#/anuncios" class="btn waves-effect blue darken-4">
					<i class="material-icons left">send</i>Quero certificar
				</a></p>
			</div>
		</div>
	</div>
	<div class="parallax blue-grey darken-4">
		<img src="{{ctrl.MEDIA_FOLDER}}img/bkg/parallax_casas.jpg" alt="Imagem casas" />
	</div>
</div>

<div class="">
	<div class="container">

		<div class="row spaced-block">

			<div class="col s12 m12 l4">
				<div class="icon-block">
					<h2 class="center"><i class="material-icons blue-text text-darken-4">search</i></h2>
					<h5 class="center">Procurando um imóvel?</h5>
					<p class="light">Você pode salvar os imóveis que mais gostou numa lista de favoritos para visualização
						rápida e ainda pode compartilhar sua lista de favoritos com quem você quiser.
						O Banco do Brasil conseguiu com as grandes incorporadoras do país condições especiais para você.
					</p>
				</div>
			</div>

			<div class="col s12 m12 l4">
				<div class="icon-block">
					<h2 class="center"><i class="material-icons blue-text text-darken-4">record_voice_over</i></h2>
					<h5 class="center">Está vendendo?</h5>
					<p class="light">Você mesmo pode gerenciar seus anúncios e interagir com potenciais compradores a qualquer momento e
						ainda pode certificar o seu imóvel para venda expressa a qualquer tempo.</p>
				</div>
			</div>

			<div class="col s12 m12 l4">
				<div class="icon-block">
					<h2 class="center"><i class="material-icons blue-text text-darken-4">lightbulb_outline</i></h2>
					<h5 class="center">Nós te ajudamos</h5>
					<p class="light">Queremos siplificar a sua vida. O Banco do Brasil tem soluções desde a venda do imóvel até a mudança
						para a casa nova. Nossos especialistas em negócios imobiliários estão a sua disposição para ajudá-lo durante todo o processo.</p>
				</div>
			</div>

		</div>

	</div>
</div>


<div class="parallax-container valign-wrapper" id="nossas-linhas">
	<div class="section no-pad-bot dark-bg">
		<div class="container spaced-block">
			<div class="row center">
				<div class="col s12 center">
					<h2 class="header light">Consulte nossas soluções para imóveis</h2>

					<div class="col s12 m12 l4">
						<div class="card valign-wrapper hoverable">
							<div class="card-content center">
								<span class="card-title">
									<a href="http://www.bb.com.br/pbb/pagina-inicial/voce/produtos-e-servicos/financiamentos/financiar-imoveis#/" target="_blank">
										Quero crédito para comprar um imóvel
									</a>
								</span>
								<p class="light">
									<a href="http://www.bb.com.br/pbb/pagina-inicial/voce/produtos-e-servicos/financiamentos/financiar-imoveis#/" target="_blank">
										Com o BB Crédito Imobiliário você financia o seu imóvel residencial novo ou usado
										com as menores taxas de juros do mercado. Você ainda pode utilizar o FGTS no seu financiamento imobiliário.
										Consulte as condições.
									</a>
								</p>
							</div>
						</div>
					</div>

					<div class="col s12 m6 l4">
						<div class="card valign-wrapper hoverable">
							<div class="card-content center">
								<span class="card-title">
									<a href="http://www.bb.com.br/pbb/pagina-inicial/voce/produtos-e-servicos/financiamentos/financiar-imoveis#/" target="_blank">
										Quero usar meu imóvel para pegar um empréstimo
									</a>
								</span>
								<p class="light">
									<a href="http://www.bb.com.br/pbb/pagina-inicial/voce/produtos-e-servicos/financiamentos/financiar-imoveis#/" target="_blank">
										Você pode utilizar o seu imóvel como garantia para obter um empréstimo e realizar
										todos os seus projetos. Com o BB Crédito Imóvel Próprio é possível obter até 50% do valor do
										seu imóvel e pagar em até 180 meses.
									</a>
								</p>
							</div>
						</div>
					</div>

					<div class="col s12 m6 l4">
						<div class="card valign-wrapper hoverable">
							<div class="card-content">
								<span class="card-title">
									<a href="http://www.bb.com.br/pbb/pagina-inicial/voce/produtos-e-servicos/financiamentos/financiar-imoveis#/" target="_blank">
										Quero refinanciar meu crédito imobiliário
									</a>
								</span>
								<p class="light">
									<a href="http://www.bb.com.br/pbb/pagina-inicial/voce/produtos-e-servicos/financiamentos/financiar-imoveis#/" target="_blank">
										No Banco do Brasil você pode ajustar as condições do seu financiamento atual.
										Adequar a data do vencimento das prestações, alterar a conta para débito e até estender o prazo de
										financiamento caso você precise.
									</a>
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="parallax blue-grey darken-4">
		<img src="{{ctrl.MEDIA_FOLDER}}img/bkg/parallax_building_windows.jpg" alt="Imagem predio janelas" />
	</div>
</div>

<div class="container spaced-block">

	<div class="col s12 tabs-swipe">
		<ul id="tabs-swipe" class="tabs row">
			<li class="tab col s12 m4" data-ng-repeat="(k, j) in ctrl.arrCategorias">
				<a href="tab{{k}}">{{j.noCategoria}}</a>
			</li>
		</ul>

		<div id="tab{{z}}" class="row" data-ng-repeat="(z, j) in ctrl.arrCategorias">

			<div class="col s12 m4" data-ng-repeat="(n, i) in j.posts">
				<div class="card hoverable">
					<div class="card-image">
						<a href="{{i.dsLink}}" target="_blank">
							<img src="{{i.dsImagem}}" />
							<span class="card-title dark-bg">{{i.noPost}}</span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

<div class="grey lighten-4 hide">
	<div id="envie-sua-proposta">
		<div class="container spaced-block">
			<div class="row center">
				<h2 class="col s12 header light">Fale com um <strong>especialista</strong> em financiamento imobiliario</h2>
			</div>
			<div class="row center">
				<p class="col s12 m6 l4 push-l2 xl3 push-xl3"><a data-scroll-ancora="calculadora" class="col s12 btn-large waves-effect blue darken-4">Simular financiamento</a></p>
				<p class="col s12 m6 l4 push-l2 xl3 push-xl3"><a href="#/busca" class="col s12 btn-large waves-effect blue darken-4">Enviar proposta</a></p>
			</div>
		</div>
	</div>
</div>
<script>
(function($){
	$('ul.tabs').tabs();
})(jQuery);
</script>
</div>
