<div data-ng-controller="LoginCtrl as ctrl" data-ng-init="ctrl.init()" id="login">

<div>
	<div class="container box-busca-home spaced-block">
		<div class="row">
			<div class="col s12 m6 push-m3 l4 push-l4">

				<div class="card form-fix">
					<div class="card-content" id="loginChoose">
						<div class="row center">
							<h2 class="light medium-text">Olá, você deseja ser atendido como:</h2>
						</div>

						<div class="row input-field center">
							<button class="btn waves-effect blue darken-4 login-pessoa-fisica col s10 push-s1"><i class="material-icons vertical-align-icon left"></i>Pessoa física</button>
						</div>

						<div class="row input-field center">
							<button class="btn waves-effect blue darken-4 login-pessoa-juridica col s10 push-s1"><i class="material-icons vertical-align-icon left"></i>Pessoa jurídica</button>
						</div>
					</div>

					<form class="card-content" data-ng-submit="ctrl.doLoginPJ()" id="loginPJ">
						<div class="row center">
							<h2 class="light medium-text">Login pessoa jurídica</h2>
						</div>
						<a href="" class="row login-cancelar">&lt;&nbsp;voltar</a>

						<div class="row input-field">
							<input class="validate big-text center" id="pj_chave" type="text"
								pattern="^[A-Za-z]\d{7}$" data-mask="S0000000"
								data-ng-model="ctrl.loginObj.chave" />
      						<label for="pj_chave">Chave</label>
						</div>

						<div class="row input-field">
							<input class="validate big-text center" id="pj_senha" type="password"
								pattern="^.{8}$" data-mask="AAAAAAAA"
								data-ng-model="ctrl.loginObj.senha" />
      						<label for="pj_senha">Senha</label>
						</div>

						<div class="row input-field center">
							<button class="btn waves-effect blue darken-4"><i class="material-icons vertical-align-icon left"></i>entrar</button>
						</div>
					</form>

					<form class="card-content" data-ng-submit="ctrl.doLoginPF()" id="loginPF">
						<div class="row center">
							<h2 class="light medium-text">Login pessoa física</h2>
						</div>
						<a href="" class="row login-cancelar">&lt;&nbsp;voltar</a>

						<div class="row input-field">
							<input class="validate big-text center" type="text"
								pattern="^\d{4}-?\d$" data-mask="0000-0" data-mask-reverse="true"
								data-ng-model="ctrl.loginObj.agencia" />
							<label class="pf_agencia">Agência</label>
							<p class="tiny-text">Informe sua agência com o dígito</p>
						</div>

						<div class="row input-field">
							<input class="validate big-text center" type="text" maxlength="13"
								pattern="^\d{4,11}-?\d$" data-mask="#######0000-0" data-mask-reverse="true"
								data-ng-model="ctrl.loginObj.conta" />
							<label for="pf_conta">Conta</label>
							<p class="tiny-text">Informe sua conta com o dígito. Se tiver "X", substitua por 0.</p>
						</div>

						<div class="row input-field">
							<input class="validate big-text center" id="pf_senha" type="password"
								pattern="^.{8}$" data-mask="AAAAAAAA"
								data-ng-model="ctrl.loginObj.senha" />
      						<label for="pf_senha">Senha de 8 dígitos</label>
							<p class="tiny-text">Informe a senha de 8 dígitos</p>
						</div>

						<div class="row input-field center">
							<button class="btn waves-effect blue darken-4"><i class="material-icons vertical-align-icon left"></i>entrar</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
