<div data-ng-controller="NotificacoesCtrl as ctrl" data-ng-init="ctrl.init()" class="notificacoes">

	<div class="bg-building">
		<div class="section no-pad-bot dark-bg z-depth-3">
			<div class="container">
				<div class="row center">
					<h1 class="white-text light">Minhas notificações</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="row" data-ng-if="ctrl.mensagens.length > 0">
			<div class="col s12">
				<h2 class="header light bigger-text">Mensagens</h2>
			</div>

			<div class="col s12" data-ng-repeat="(aKey,aVal) in ctrl.mensagens">
				<div class="card">
					<div class="card-content">
						<h3 class="header light big-text title-for-small">
							<a href="#/anuncios/{{aVal.indEmpreendimento == 'S'?'empreendimento/':''}}detalhes/{{aVal.codAnuncio}}">
								{{aVal.enderecoAnuncio.nomBairro}} | {{aVal.enderecoAnuncio.nomCidade}} - {{aVal.enderecoAnuncio.sgUF}}
							</a>
						</h3>

						<div class="anounc-image">
							<img data-ng-src="{{aVal.documento.txtSrcThumb||ctrl.MEDIA_FOLDER+'img/fke/500x250.png'}}" />
							<h3 class="header light big-text">
								<a href="#/anuncios/{{aVal.indEmpreendimento == 'S'?'empreendimento/':''}}detalhes/{{aVal.codAnuncio}}">
									{{aVal.enderecoAnuncio.nomBairro}}<br />{{aVal.enderecoAnuncio.nomCidade}} - {{aVal.enderecoAnuncio.sgUF}}
								</a>
							</h3>
						</div>

						<div class="anounc-messages-box">
							<div class="message-line" data-ng-repeat="(cKey,cVal) in aVal.canalMensagems">
								<div class="message-title" data-ng-click="ctrl.mensagemCarregarCanal(aVal.codAnuncio, cVal.codCanal, aKey, cKey)">
									<div class="userball indicator" title="{{cVal.mensagems[0].usuario.nomUsuario}}">
										{{ctrl.app.initialsOnly(cVal.mensagems[0].usuario.nomUsuario)}}
									</div>

									<div class="message-text">
										<p>{{cVal.mensagems[0].txtMensagem}}</p>
									</div>

									<div class="message-date">{{ctrl.app.dateToStrBR(cVal.mensagems[0].tsMensagem)}}</div>
								</div>

								<div class="message-details">
									<div class="message-scroll">
										<div class="message {{mVal.usuario.codUsuario==ctrl.usuario.codigoClienteid?'r':'l'}}" data-ng-repeat="(mKey,mVal) in cVal.mensagens">
											<div class="message-date">{{ctrl.app.dateToStrBR(mVal.tsMensagem)}}</div>
											<div class="userball" title="{{mVal.usuario.nomUsuario}}">{{ctrl.app.initialsOnly(mVal.usuario.nomUsuario)}}</div>
											<p>{{mVal.txtMensagem}}</p>
										</div>
									</div>
									<form data-ng-submit="ctrl.mensagemEnviar(aVal.codAnuncio, cVal.codCanal, aKey, cKey)">
										<div class="input-field">
											<input value="" data-ng-model="ctrl.txt[cKey]" id="message{{cKey}}" type="text" class="validate" />
											<label class="active" for="message{{cKey}}">Mensagem</label>
										</div>
									</form>
								</div>

							</div>
						</div>

						<div style="clear:both"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" data-ng-if="ctrl.visitas.length > 0">
			<div class="col s12">
				<h2 class="header light bigger-text">Visitas</h2>
			</div>

			<div class="col s12">
				<div class="card" data-ng-repeat="(aKey,aVal) in ctrl.visitas">
					<div class="card-content">
						<span class="card-title">
							<a href="#/anuncios/{{aVal.indEmpreendimento == 'S'?'empreendimento/':''}}detalhes/{{aVal.codAnuncio}}">
								{{aVal.enderecoAnuncio.nomBairro}} | {{aVal.enderecoAnuncio.nomCidade}} - {{aVal.enderecoAnuncio.sgUF}}
							</a>
						</span>
						<div class="row data-box" data-ng-repeat="(vKey,vVal) in aVal.agendamentoVisita">
							<div class="message-date">{{ctrl.app.dateToStrBR(vVal.tsAgendamentoVisita)}}</div>
							<div class="col s3 m2 center">
								<div class="userball indicator {{ctrl.app.codEstadoVisitaToIndicatorClass(vVal.codTipoEstadoAgendamentoVisita)}}" title="{{vVal.usuario.nomUsuario}}">{{ctrl.app.initialsOnly(vVal.usuario.nomUsuario)}}</div>
							</div>
							<div class="col s9 m5 center">
								<h4 class="header medium-text">Solicitante:</h4>
								{{vVal.usuario.nomUsuario}}<br />
								<h4 class="header medium-text">Data da visita:</h4>
								{{ctrl.app.codPeriodoToStr(vVal.codTipoPeriodoDia)}} - {{ctrl.app.dateToStrBR(vVal.dtAgendamentoVisita)}}<br />
								{{ctrl.app.dateToWeekDayBR(vVal.dtAgendamentoVisita)}}
							</div>
							<div class="col s12 m5 center">
								<h4 class="header medium-text {{ctrl.app.codEstadoVisitaToClass(vVal.codTipoEstadoAgendamentoVisita)}}">
									{{ctrl.app.codEstadoVisitaToStr(vVal.codTipoEstadoAgendamentoVisita);}}
									<div data-ng-if="vVal.codTipoEstadoAgendamentoVisita!=1 && vVal.codTipoEstadoAgendamentoVisita!=4" class="small-text light">{{ctrl.app.dateToStrBR(vVal.tsRespostaAgendamento)}}</div>
								</h4>
								<div class="row" data-ng-if="vVal.codTipoEstadoAgendamentoVisita==1">
									<button class="btn blue darken-3 waves-effect waves-lxight" data-ng-click="ctrl.visitaAceitar(vVal,vKey,aKey)">aceitar</button>
									<button class="btn red darken-3 waves-effect waves-light" data-ng-click="ctrl.visitaRecusar(vVal,vKey,aKey)">recusar</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row" data-ng-if="ctrl.ofertas.length > 0">
			<div class="col s12">
				<h2 class="header light bigger-text">Ofertas</h2>
			</div>

			<div class="col s12">
				<div class="card" data-ng-repeat="(aKey,aVal) in ctrl.ofertas">
					<div class="card-content">
						<span class="card-title">
							<a href="#/anuncios/{{aVal.indEmpreendimento == 'S'?'empreendimento/':''}}detalhes/{{aVal.codAnuncio}}">
								{{aVal.enderecoAnuncio.nomBairro}} | {{aVal.enderecoAnuncio.nomCidade}} - {{aVal.enderecoAnuncio.sgUF}}
							</a>
						</span>

						<div data-ng-repeat="(uKey,uVal) in aVal.unidadeAnuncios">
							<h3 class="header light flow-text">{{uVal.txtTitulo}}</h3>
							<div class="row data-box" data-ng-repeat="(oKey,oVal) in uVal.ofertaUnidadeAnuncios">
								<div class="message-date">{{ctrl.app.dateToStrBR(oVal.tsOferta)}}</div>
								<div class="col s3 m2 center">
									<div class="userball indicator {{ctrl.app.codEstadoOfertaToIndicatorClass(oVal.codTipoEstadoOferta)}}" title="{{oVal.usuario.nomUsuario}}">{{ctrl.app.initialsOnly(oVal.usuario.nomUsuario)}}</div>
								</div>
								<div class="col s9 m5 center">
									<h4 class="header medium-text">Oferta:</h4>
									<spen class="medium-text">R$ {{ctrl.app.formatarDinheiro(oVal.vlrOferta)}}</spen>

									<h4 class="header medium-text">Contatos:</h4>
									{{oVal.usuario.nomUsuario}}<br />
									{{oVal.txtEmailCliente}}<br />
									{{oVal.txtTelefoneCliente}}<br />
									{{oVal.txtCelularCliente}}
								</div>
								<div class="col s12 m5 center">

									<h4 class="header medium-text {{ctrl.app.codEstadoOfertaToClass(oVal.codTipoEstadoOferta)}}">
										{{ctrl.app.codEstadoOfertaToStr(oVal.codTipoEstadoOferta);}}
									<div data-ng-if="oVal.codTipoEstadoOferta!=1" class="small-text light">{{ctrl.app.dateToStrBR(oVal.tsResposta)}}</div>
									</h4>
									<div class="row" data-ng-if="oVal.codTipoEstadoOferta==1">
										<button class="btn blue darken-3 waves-effect waves-lxight" data-ng-click="ctrl.ofertaAceitar(oVal)">aceitar</button>
										<button class="btn red darken-3 waves-effect waves-light" data-ng-click="ctrl.ofertaRecusar(oVal)">recusar</button>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row" data-ng-if="ctrl.interesses.length > 0">
			<div class="col s12">
				<h2 class="header light bigger-text">Registros de interesse</h2>
			</div>

			<div class="col s12">
				<div class="card" data-ng-repeat="(aKey,aVal) in ctrl.interesses">
					<div class="card-content">
						<span class="card-title">
							<a href="#/anuncios/{{aVal.indEmpreendimento == 'S'?'empreendimento/':''}}detalhes/{{aVal.codAnuncio}}">
								{{aVal.enderecoAnuncio.nomBairro}} | {{aVal.enderecoAnuncio.nomCidade}} - {{aVal.enderecoAnuncio.sgUF}}
							</a>
						</span>

						<div data-ng-repeat="(uKey,uVal) in aVal.unidadeAnuncios">
							<h3 class="header light flow-text">{{uVal.txtTitulo}}</h3>
							<div class="row data-box" data-ng-repeat="(iKey,iVal) in uVal.registroInteresseUnidades">
								<div class="message-date">{{ctrl.app.dateToStrBR(iVal.tsRegistroInteresse)}}</div>
								<div class="col s3 m2 center">
									<div class="userball indicator {{ctrl.app.codEstadoInteresseToIndicatorClass(iVal.codTipoResposta)}}" title="{{iVal.usuario.nomUsuario}}">{{ctrl.app.initialsOnly(iVal.usuario.nomUsuario)}}</div>
								</div>
								<div class="col s9 m5 center">
									<h4 class="header medium-text">Contatos:</h4>
									{{iVal.usuario.nomUsuario}}<br />
									{{iVal.txtEmailCliente}}<br />
									{{iVal.txtCelularCliente}}<br />
									{{iVal.txtTelefoneCliente}}

									<h4 class="header medium-text">Horário para contato:</h4>
									{{ctrl.app.codPeriodoToStr(iVal.codTipoPeriodoContato)}}
								</div>
								<div class="col s12 m5 center">
									<h4 class="header medium-text {{ctrl.app.codEstadoInteresseToClass(iVal.codEstadoRegistroInte)}}">
										{{ctrl.app.codEstadoInteresseToStr(iVal.codEstadoRegistroInte);}}
									<div data-ng-if="iVal.codEstadoRegistroInte!=1" class="small-text light">{{ctrl.app.dateToStrBR(iVal.tsResposta)}}</div>
									</h4>
									<div class="row" data-ng-if="iVal.codEstadoRegistroInte==1">
										<button class="btn blue darken-3 waves-effect waves-lxight" data-ng-click="ctrl.interesseContactado(iVal)">já contactado</button>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>


</div>
