
<!-- Load Structure -->
<div class="loading">
	<div class="loading-center center">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left"><div class="circle"></div></div>
				<div class="gap-patch"><div class="circle"></div></div>
				<div class="circle-clipper right"><div class="circle"></div></div>
			</div>
		</div>
		<div>carregando</div>
	</div>
</div>

<!-- Modal Structure -->
<div id="modal" class="modal">
	<div class="modal-content"></div>
	<div class="modal-footer hide">
		<a class="modal-action modal-close waves-effect waves-green btn-flat">fechar</a>
	</div>
</div>
